/****** Object:  Table [edw_stage].[AccountTransactionCoveragePremium]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionCoveragePremium](
	[Id] [int] NOT NULL,
	[AccountTransactionId] [uniqueidentifier] NOT NULL,
	[Coverage] [nvarchar](1000) NULL,
	[Premium] [decimal](16, 4) NOT NULL,
	[PremiumDeltaProRated] [decimal](16, 4) NULL,
	[ProRateFactor] [decimal](16, 4) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[RoundPremiumToNearestDollar] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[AsLob] [nvarchar](40) NULL,
	[Label] [nvarchar](1000) NULL,
	[PremiumDelta] [decimal](16, 4) NULL,
	[Commission] [decimal](16, 4) NOT NULL,
	[CommissionDelta] [decimal](16, 4) NULL,
	[CommissionDeltaProRated] [decimal](16, 4) NULL,
	[CommissionPercent] [decimal](16, 4) NOT NULL,
 CONSTRAINT [PK_AccountTransactionCoveragePremium] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionCoveragePremium_AccountTransactionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionCoveragePremium_AccountTransactionId] ON [edw_stage].[AccountTransactionCoveragePremium]
(
	[AccountTransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
