/****** Object:  Table [edw_core].[treconciliation]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[treconciliation](
	[reconciliation_sk] [int] IDENTITY(1,1) NOT NULL,
	[transaction_start_dt] [date] NULL,
	[transaction_end_dt] [date] NULL,
	[source_record_ct] [int] NULL,
	[source_amt] [decimal](15, 2) NULL,
	[target_record_ct] [int] NULL,
	[target_amt] [decimal](15, 2) NULL,
	[datamart_nm] [varchar](255) NULL,
	[status_desc] [varchar](255) NULL,
	[source_system_nm] [varchar](255) NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_treconciliation] PRIMARY KEY CLUSTERED 
(
	[reconciliation_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
