/****** Object:  Table [edw_temp].[t_clm_accident_temp1]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_temp].[t_clm_accident_temp1](
	[accident_code] [varchar](20) NULL,
	[accident_name] [varchar](200) NULL,
	[accident_desc] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
