/****** Object:  Table [edw_core].[thome_location]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[thome_location](
	[home_location_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[address_line_1] [varchar](255) NULL,
	[address_line_2] [varchar](255) NULL,
	[unit_no] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[county_nm] [varchar](255) NULL,
	[country_nm] [varchar](255) NULL,
	[longitude] [varchar](255) NULL,
	[latitude] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_thome_location] PRIMARY KEY CLUSTERED 
(
	[home_location_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_thome_location_policy_no_effective_dt] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
