/****** Object:  Table [edw_stage].[AccountChange]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountChange](
	[Id] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[ObjectType] [nvarchar](400) NULL,
	[ObjectGroupIdentifier] [nvarchar](4000) NULL,
	[Index] [int] NOT NULL,
	[Label] [nvarchar](4000) NULL,
	[Field] [nvarchar](4000) NULL,
	[PreviousValue] [nvarchar](4000) NULL,
	[CurrentValue] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[CurrentValueFormatted] [nvarchar](4000) NULL,
	[IgnoreChange] [bit] NOT NULL,
	[PreviousValueFormatted] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountChange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountChange_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountChange_AccountId] ON [edw_stage].[AccountChange]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
