/****** Object:  Table [edw_core].[tpolicy_history]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpolicy_history](
	[policy_history_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NOT NULL,
	[effective_dt] [date] NOT NULL,
	[expiration_dt] [date] NOT NULL,
	[transaction_effective_dt] [date] NOT NULL,
	[transaction_seq_no] [int] NOT NULL,
	[latest_transaction_in] [varchar](255) NULL,
	[policy_sk] [int] NULL,
	[broker_sk] [int] NULL,
	[customer_sk] [int] NULL,
	[broker_id] [varchar](255) NULL,
	[customer_id] [varchar](255) NULL,
	[transaction_type] [varchar](255) NULL,
	[transaction_ts] [datetime] NULL,
	[transaction_desc] [varchar](4000) NULL,
	[cancellation_reason_desc] [varchar](4000) NULL,
	[premium_amt] [decimal](15, 2) NULL,
	[net_premium_amt] [decimal](15, 2) NULL,
	[tax_fee_surcharge_amt] [decimal](15, 2) NULL,
	[commission_amt] [decimal](15, 2) NULL,
	[annual_premium_amt] [decimal](15, 2) NULL,
	[transaction_initiated_by] [varchar](255) NULL,
	[transaction_issued_by] [varchar](255) NULL,
	[collection_policy_credit_in] [varchar](255) NULL,
	[excess_liability_policy_credit_in] [varchar](255) NULL,
	[auto_policy_credit_in] [varchar](255) NULL,
	[home_policy_credit_in] [varchar](255) NULL,
	[source_system_sk] [int] NOT NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tpolicy_history] PRIMARY KEY CLUSTERED 
(
	[policy_history_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpolicy_history_polno_effdt_transeq] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tpolicy_history]  WITH CHECK ADD  CONSTRAINT [fk_tph_tbroker_broker_sk] FOREIGN KEY([broker_sk])
REFERENCES [edw_core].[tbroker] ([broker_sk])
GO
ALTER TABLE [edw_core].[tpolicy_history] CHECK CONSTRAINT [fk_tph_tbroker_broker_sk]
GO
ALTER TABLE [edw_core].[tpolicy_history]  WITH CHECK ADD  CONSTRAINT [fk_tph_tcustomer_customer_sk] FOREIGN KEY([customer_sk])
REFERENCES [edw_core].[tcustomer] ([customer_sk])
GO
ALTER TABLE [edw_core].[tpolicy_history] CHECK CONSTRAINT [fk_tph_tcustomer_customer_sk]
GO
ALTER TABLE [edw_core].[tpolicy_history]  WITH CHECK ADD  CONSTRAINT [fk_tph_tpolicy_policy_sk] FOREIGN KEY([policy_sk])
REFERENCES [edw_core].[tpolicy] ([policy_sk])
GO
ALTER TABLE [edw_core].[tpolicy_history] CHECK CONSTRAINT [fk_tph_tpolicy_policy_sk]
GO
