/****** Object:  Table [edw_core].[titem_summary]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[titem_summary](
	[month_sk] [int] NOT NULL,
	[policy_sk] [int] NOT NULL,
	[item_sk] [int] NOT NULL,
	[coverage_sk] [int] NOT NULL,
	[customer_sk] [int] NOT NULL,
	[broker_sk] [int] NOT NULL,
	[product_sk] [int] NOT NULL,
	[mtd_premium_amt] [decimal](15, 2) NULL,
	[mtd_commission_amt] [decimal](15, 2) NULL,
	[mtd_tax_fee_surcharge_amt] [decimal](15, 2) NULL,
	[mtd_net_premium_amt] [decimal](15, 2) NULL,
	[ytd_premium_amt] [decimal](15, 2) NULL,
	[ytd_commission_amt] [decimal](15, 2) NULL,
	[ytd_tax_fee_surcharge_amt] [decimal](15, 2) NULL,
	[ytd_net_premium_amt] [decimal](15, 2) NULL,
	[itd_premium_amt] [decimal](15, 2) NULL,
	[itd_commission_amt] [decimal](15, 2) NULL,
	[itd_tax_fee_surcharge_amt] [decimal](15, 2) NULL,
	[itd_net_premium_amt] [decimal](15, 2) NULL,
	[annual_premium_amt] [decimal](15, 2) NULL,
	[inforce_premium_amt] [decimal](15, 2) NULL,
	[earned_premium_amt] [decimal](15, 4) NULL,
	[unearned_premium_amt] [decimal](15, 4) NULL,
	[written_exposure] [decimal](15, 4) NULL,
	[earned_exposure] [decimal](15, 4) NULL,
	[inforce_ct] [int] NULL,
	[source_system_sk] [int] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_titem_summary] PRIMARY KEY CLUSTERED 
(
	[month_sk] ASC,
	[policy_sk] ASC,
	[item_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[titem_summary]  WITH CHECK ADD  CONSTRAINT [fk_tis_tbroker_broker_sk] FOREIGN KEY([broker_sk])
REFERENCES [edw_core].[tbroker] ([broker_sk])
GO
ALTER TABLE [edw_core].[titem_summary] CHECK CONSTRAINT [fk_tis_tbroker_broker_sk]
GO
ALTER TABLE [edw_core].[titem_summary]  WITH CHECK ADD  CONSTRAINT [fk_tis_tcustomer_customer_sk] FOREIGN KEY([customer_sk])
REFERENCES [edw_core].[tcustomer] ([customer_sk])
GO
ALTER TABLE [edw_core].[titem_summary] CHECK CONSTRAINT [fk_tis_tcustomer_customer_sk]
GO
ALTER TABLE [edw_core].[titem_summary]  WITH CHECK ADD  CONSTRAINT [fk_tis_tpolicy_policy_sk] FOREIGN KEY([policy_sk])
REFERENCES [edw_core].[tpolicy] ([policy_sk])
GO
ALTER TABLE [edw_core].[titem_summary] CHECK CONSTRAINT [fk_tis_tpolicy_policy_sk]
GO
ALTER TABLE [edw_core].[titem_summary]  WITH CHECK ADD  CONSTRAINT [fk_tis_tproduct_product_sk] FOREIGN KEY([product_sk])
REFERENCES [edw_core].[tproduct] ([product_sk])
GO
ALTER TABLE [edw_core].[titem_summary] CHECK CONSTRAINT [fk_tis_tproduct_product_sk]
GO
