/****** Object:  Table [edw_stage].[AccountPayment]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountPayment](
	[Id] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[BrokerageId] [uniqueidentifier] NOT NULL,
	[MasterInsuredId] [uniqueidentifier] NOT NULL,
	[PaymentFrom] [nvarchar](400) NULL,
	[Amount] [decimal](16, 4) NOT NULL,
	[PaidVia] [nvarchar](200) NULL,
	[PaymentDateTime] [datetime2](7) NOT NULL,
	[IsReversed] [bit] NOT NULL,
	[IsReversal] [bit] NOT NULL,
	[ReversalOfId] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[BillingAccountId] [uniqueidentifier] NULL,
	[ReferenceCode] [nvarchar](100) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountPayment_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountPayment_AccountId] ON [edw_stage].[AccountPayment]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
