/****** Object:  Table [edw_core].[tpolicy_transaction_type]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpolicy_transaction_type](
	[policy_transaction_type_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_transaction_type_cd] [varchar](255) NOT NULL,
	[policy_transaction_type_nm] [varchar](255) NOT NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tpolicy_transaction_type] PRIMARY KEY CLUSTERED 
(
	[policy_transaction_type_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpolicy_transaction_type_policy_transaction_type_cd] UNIQUE NONCLUSTERED 
(
	[policy_transaction_type_cd] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tpolicy_transaction_type] ADD  DEFAULT (NULL) FOR [update_ts]
GO
