/****** Object:  Table [edw_stage].[DocumentOcrResult]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[DocumentOcrResult](
	[Id] [int] NOT NULL,
	[Label] [nvarchar](1000) NULL,
	[Value] [nvarchar](200) NULL,
	[PageNumber] [int] NOT NULL,
	[Confidence] [decimal](16, 4) NULL,
	[BoundingPolygon] [nvarchar](200) NULL,
	[DocumentId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[DataType] [nvarchar](200) NULL,
	[Field] [nvarchar](1000) NULL,
	[ValueFormatted] [nvarchar](200) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_DocumentOcrResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentOcrResult_DocumentId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DocumentOcrResult_DocumentId] ON [edw_stage].[DocumentOcrResult]
(
	[DocumentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
