/****** Object:  Table [edw_core].[tvalidation_sql]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tvalidation_sql](
	[validation_sql_sk] [int] IDENTITY(1,1) NOT NULL,
	[validation_sql_desc] [varchar](255) NULL,
	[source_sql] [varchar](4000) NULL,
	[target_sql] [varchar](4000) NULL,
	[active_in] [varchar](1) NULL,
	[frequency_desc] [varchar](255) NULL,
	[create_ts] [datetime] NOT NULL,
	[update_ts] [datetime] NOT NULL,
 CONSTRAINT [pk_tvalidation_sql] PRIMARY KEY CLUSTERED 
(
	[validation_sql_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
