/****** Object:  Table [edw_stage].[BrokerOfRecordChangeDetail]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[BrokerOfRecordChangeDetail](
	[Id] [int] NOT NULL,
	[BrokerOfRecordChangeId] [int] NOT NULL,
	[BrokerId] [uniqueidentifier] NOT NULL,
	[PolicyNumbers] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_BrokerOfRecordChangeDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BrokerOfRecordChangeDetail_BrokerOfRecordChangeId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BrokerOfRecordChangeDetail_BrokerOfRecordChangeId] ON [edw_stage].[BrokerOfRecordChangeDetail]
(
	[BrokerOfRecordChangeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
