/****** Object:  Table [edw_stage].[Insured]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Insured](
	[Id] [uniqueidentifier] NOT NULL,
	[NamedInsured] [nvarchar](4000) NULL,
	[Fein] [nvarchar](40) NULL,
	[Dba] [nvarchar](4000) NULL,
	[MailingAddressLine1] [nvarchar](1000) NULL,
	[MailingAddressLine2] [nvarchar](1000) NULL,
	[MailingAddressCity] [nvarchar](1000) NULL,
	[MailingAddressState] [nvarchar](1000) NULL,
	[MailingAddressZipCode] [nvarchar](1000) NULL,
	[MailingAddressCountry] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[MailingAddressCounty] [nvarchar](1000) NULL,
	[Email] [nvarchar](800) NULL,
	[FirstName] [nvarchar](1000) NULL,
	[InsuredType] [nvarchar](100) NULL,
	[LastName] [nvarchar](1000) NULL,
	[Phone] [nvarchar](40) NULL,
	[PreferredName] [nvarchar](1000) NULL,
	[Prefix] [nvarchar](20) NULL,
	[Suffix] [nvarchar](20) NULL,
	[Title] [nvarchar](1000) NULL,
	[BirthDate] [nvarchar](1000) NULL,
	[MiddleName] [nvarchar](1000) NULL,
	[Occupation] [nvarchar](800) NULL,
	[ReferenceCode] [int] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[IsVip] [bit] NOT NULL,
	[InsuredScore] [int] NOT NULL,
	[Employer] [nvarchar](4000) NULL,
	[SubscriberContributionEndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Insured] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Insured_ReferenceCode]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Insured_ReferenceCode] ON [edw_stage].[Insured]
(
	[ReferenceCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
