/****** Object:  Table [edw_core].[tpel_driver]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpel_driver](
	[pel_driver_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[policy_history_sk] [int] NULL,
	[driver_no] [int] NULL,
	[prefix] [varchar](255) NULL,
	[first_nm] [varchar](255) NULL,
	[middle_nm] [varchar](255) NULL,
	[last_nm] [varchar](255) NULL,
	[suffix] [varchar](255) NULL,
	[birth_dt] [varchar](255) NULL,
	[license_status] [varchar](255) NULL,
	[license_country_nm] [varchar](255) NULL,
	[license_state_cd] [varchar](255) NULL,
	[license_year] [int] NULL,
	[license_no] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tpel_driver] PRIMARY KEY CLUSTERED 
(
	[pel_driver_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpel_driver_polno_effdt_transeq_drvno] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC,
	[driver_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
