/****** Object:  Table [edw_core].[tpel_watercraft]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpel_watercraft](
	[pel_watercraft_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[policy_history_sk] [int] NULL,
	[watercraft_no] [int] NULL,
	[watercraft_year] [int] NULL,
	[watercraft_make] [varchar](255) NULL,
	[watercraft_model] [varchar](255) NULL,
	[watercraft_length] [varchar](255) NULL,
	[watercraft_hull_value] [varchar](255) NULL,
	[watercraft_horsepower] [varchar](255) NULL,
	[vessels_owned_trust_llc_in] [varchar](255) NULL,
	[vessels_with_captain_crew_in] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tpel_watercraft] PRIMARY KEY CLUSTERED 
(
	[pel_watercraft_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpel_watercraft_polno_effdt_transeq_wcftno] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC,
	[watercraft_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
