/****** Object:  Table [edw_stage].[AccountTransactionVersionPremiumFactor]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionPremiumFactor](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionPremiumId] [int] NOT NULL,
	[RaterIdentifier] [nvarchar](1000) NULL,
	[Coverage] [nvarchar](1000) NULL,
	[Group] [nvarchar](1000) NULL,
	[Field] [nvarchar](400) NULL,
	[Factor] [decimal](16, 4) NULL,
	[FactorMin] [decimal](16, 4) NULL,
	[FactorMax] [decimal](16, 4) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionPremiumFactor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionPremiumFactor_AccountTransactionVersionPremiumId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionPremiumFactor_AccountTransactionVersionPremiumId] ON [edw_stage].[AccountTransactionVersionPremiumFactor]
(
	[AccountTransactionVersionPremiumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
