/****** Object:  Table [edw_stage].[AccountObject]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountObject](
	[Id] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[ParentObjectId] [int] NULL,
	[ObjectType] [nvarchar](400) NULL,
	[Index] [int] NOT NULL,
	[ObjectGroupIdentifier] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[MaxAllowed] [int] NOT NULL,
	[IsForm] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountObject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccountObject_AccountId_ParentObjectId_ObjectType_Index]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountObject_AccountId_ParentObjectId_ObjectType_Index] ON [edw_stage].[AccountObject]
(
	[AccountId] ASC,
	[ParentObjectId] ASC,
	[ObjectType] ASC,
	[Index] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountObject_ParentObjectId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountObject_ParentObjectId] ON [edw_stage].[AccountObject]
(
	[ParentObjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
