/****** Object:  Table [edw_core].[tpolicy]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpolicy](
	[policy_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NOT NULL,
	[effective_dt] [date] NOT NULL,
	[expiration_dt] [date] NOT NULL,
	[broker_id] [varchar](255) NOT NULL,
	[customer_id] [varchar](255) NOT NULL,
	[product_cd] [varchar](255) NOT NULL,
	[risk_state_cd] [varchar](255) NOT NULL,
	[insured_nm] [varchar](255) NULL,
	[policy_term] [varchar](255) NULL,
	[uw_company_nm] [varchar](255) NULL,
	[policy_status] [varchar](255) NULL,
	[original_policy_effective_dt] [date] NULL,
	[mailing_address_line1] [varchar](255) NULL,
	[mailing_address_line2] [varchar](255) NULL,
	[unit_no] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[source_system_sk] [int] NOT NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
	[cancellation_effective_dt] [date] NULL,
	[program_type] [varchar](255) NULL,
 CONSTRAINT [pk_tpolicy] PRIMARY KEY CLUSTERED 
(
	[policy_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpolicy_policy_no_effective_dt] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
