/****** Object:  Table [edw_core].[tproduct]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tproduct](
	[product_sk] [int] IDENTITY(1,1) NOT NULL,
	[product_cd] [varchar](255) NULL,
	[product_desc] [varchar](255) NULL,
	[ebao_product_cd] [varchar](255) NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tproduct] PRIMARY KEY CLUSTERED 
(
	[product_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tproduct] ADD  DEFAULT (NULL) FOR [product_cd]
GO
ALTER TABLE [edw_core].[tproduct] ADD  DEFAULT (NULL) FOR [product_desc]
GO
ALTER TABLE [edw_core].[tproduct] ADD  DEFAULT (NULL) FOR [ebao_product_cd]
GO
ALTER TABLE [edw_core].[tproduct] ADD  DEFAULT (NULL) FOR [update_ts]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Surrogate key' , @level0type=N'SCHEMA',@level0name=N'edw_core', @level1type=N'TABLE',@level1name=N'tproduct', @level2type=N'COLUMN',@level2name=N'product_sk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Product code' , @level0type=N'SCHEMA',@level0name=N'edw_core', @level1type=N'TABLE',@level1name=N'tproduct', @level2type=N'COLUMN',@level2name=N'product_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Product description' , @level0type=N'SCHEMA',@level0name=N'edw_core', @level1type=N'TABLE',@level1name=N'tproduct', @level2type=N'COLUMN',@level2name=N'product_desc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'eBao product code' , @level0type=N'SCHEMA',@level0name=N'edw_core', @level1type=N'TABLE',@level1name=N'tproduct', @level2type=N'COLUMN',@level2name=N'ebao_product_cd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last update timestamp' , @level0type=N'SCHEMA',@level0name=N'edw_core', @level1type=N'TABLE',@level1name=N'tproduct', @level2type=N'COLUMN',@level2name=N'update_ts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is a reference table consists of product types and their description' , @level0type=N'SCHEMA',@level0name=N'edw_core', @level1type=N'TABLE',@level1name=N'tproduct'
GO
