/****** Object:  Table [edw_core].[ttax_fee_surcharge]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[ttax_fee_surcharge](
	[tax_fee_surcharge_sk] [int] IDENTITY(1,1) NOT NULL,
	[tax_fee_surcharge_cd] [varchar](255) NOT NULL,
	[tax_fee_surcharge_desc] [varchar](255) NOT NULL,
	[tax_fee_surcharge_category_nm] [varchar](255) NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_ttax_fee_surcharge] PRIMARY KEY CLUSTERED 
(
	[tax_fee_surcharge_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_ttax_fee_surcharge_tax_fee_surcharge_cd] UNIQUE NONCLUSTERED 
(
	[tax_fee_surcharge_cd] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
