/****** Object:  Table [edw_stage].[AccountTransaction]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransaction](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[EffectiveDate] [datetime2](7) NULL,
	[ExpirationDate] [datetime2](7) NULL,
	[Stage] [nvarchar](400) NULL,
	[State] [nvarchar](400) NULL,
	[Number] [int] NOT NULL,
	[PolicyChangeNumber] [int] NOT NULL,
	[TransactionEffectiveDate] [datetime2](7) NULL,
	[ProRateFactor] [decimal](16, 4) NOT NULL,
	[MinimumEarnedPremiumPercent] [int] NOT NULL,
	[TotalPremium] [decimal](16, 4) NOT NULL,
	[GrossPremiumOverride] [decimal](16, 4) NULL,
	[GrossPremiumDeltaProRatedOverride] [decimal](16, 4) NULL,
	[NetPremium] [decimal](16, 4) NOT NULL,
	[Commission] [decimal](16, 4) NOT NULL,
	[GrossPremiumDeltaProRated] [decimal](16, 4) NULL,
	[NetPremiumDeltaProRated] [decimal](16, 4) NULL,
	[CommissionDeltaProRated] [decimal](16, 4) NULL,
	[CommissionPercent] [decimal](16, 4) NOT NULL,
	[Cleared] [bit] NOT NULL,
	[Referred] [bit] NOT NULL,
	[IsLatestBoundTransaction] [bit] NOT NULL,
	[IsHidden] [bit] NOT NULL,
	[Note] [nvarchar](2000) NULL,
	[NotTakenReason] [nvarchar](4000) NULL,
	[CancellationReason] [nvarchar](4000) NULL,
	[PolicyChangeNotes] [nvarchar](max) NULL,
	[BindDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[GrossPremium] [decimal](16, 4) NOT NULL,
	[PreBindComplete] [bit] NOT NULL,
	[ReferredByUserId] [uniqueidentifier] NULL,
	[SubmitById] [uniqueidentifier] NULL,
	[CreatedById] [nvarchar](240) NULL,
	[ReviewedById] [uniqueidentifier] NULL,
	[ApproveNote] [nvarchar](4000) NULL,
	[DenyNote] [nvarchar](4000) NULL,
	[IsRevision] [bit] NOT NULL,
	[QuoteNote] [nvarchar](4000) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[TotalPremiumDeltaProRated] [decimal](18, 2) NULL,
	[CommissionDelta] [decimal](16, 4) NULL,
	[GrossPremiumDelta] [decimal](16, 4) NULL,
	[NetPremiumDelta] [decimal](16, 4) NULL,
	[TotalPremiumDelta] [decimal](16, 4) NULL,
	[SubmitToBindById] [uniqueidentifier] NULL,
	[PolicyChangeGeneratedNotes] [nvarchar](max) NULL,
	[PolicyNumber] [nvarchar](50) NULL,
	[NotTakenNote] [nvarchar](4000) NULL,
	[IssuedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AccountTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransaction_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransaction_AccountId] ON [edw_stage].[AccountTransaction]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
