/****** Object:  Table [edw_core].[tmortgagee]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tmortgagee](
	[mortgage_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[policy_history_sk] [int] NULL,
	[mortgagee_no] [int] NULL,
	[mortgagee_nm] [varchar](255) NULL,
	[mortgagee_type] [varchar](255) NULL,
	[bill_mortgagee_in] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[fax_no] [varchar](255) NULL,
	[phone_no] [varchar](255) NULL,
	[isao_atima] [varchar](255) NULL,
	[isao_atima_other] [varchar](255) NULL,
	[loan_no] [varchar](255) NULL,
	[address_line_1] [varchar](255) NULL,
	[address_line_2] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[county_nm] [varchar](255) NULL,
	[country_nm] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tmortgagee] PRIMARY KEY CLUSTERED 
(
	[mortgage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
