/****** Object:  Table [edw_core].[tcollection_additional_coverage]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcollection_additional_coverage](
	[collection_additional_coverage_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[collection_location_sk] [int] NULL,
	[policy_history_sk] [int] NULL,
	[unoccupied_more_than_three_months_in] [varchar](255) NULL,
	[valuable_article_losses_last3_years_ct] [int] NULL,
	[protection_class] [varchar](255) NULL,
	[terrain_cd] [varchar](255) NULL,
	[distance_to_coast] [varchar](255) NULL,
	[roof_geometry] [varchar](255) NULL,
	[roof_covering] [varchar](255) NULL,
	[roof_cover_deck] [varchar](255) NULL,
	[roof_deck_Attachment] [varchar](255) NULL,
	[roof_wall_Attachment] [varchar](255) NULL,
	[hail_resistant_rating] [varchar](255) NULL,
	[secondary_water_resistance] [varchar](255) NULL,
	[construction_type] [varchar](255) NULL,
	[built_year] [int] NULL,
	[fire_protection] [varchar](255) NULL,
	[opening_protection] [varchar](255) NULL,
	[no_of_stories] [varchar](255) NULL,
	[central_reporting_fire_alarm_in] [varchar](255) NULL,
	[central_reporting_burglar_alarm_in] [varchar](255) NULL,
	[home_safe_in] [varchar](255) NULL,
	[fulltime_live_in_caretaker_in] [varchar](255) NULL,
	[backup_generator_in] [varchar](255) NULL,
	[residential_sprinkler_system_in] [varchar](255) NULL,
	[market_value_scheduled_items_coverage_in] [varchar](255) NULL,
	[bank_vaulted_jewelry_coverage_in] [varchar](255) NULL,
	[coins_coverage_in] [varchar](255) NULL,
	[collectibles_coverage_in] [varchar](255) NULL,
	[fine_arts_coverage_in] [varchar](255) NULL,
	[furs_coverage_in] [varchar](255) NULL,
	[guns_coverage_in] [varchar](255) NULL,
	[jewelry_coverage_in] [varchar](255) NULL,
	[miscellaneous_coverage_in] [varchar](255) NULL,
	[musical_instruments_coverage_in] [varchar](255) NULL,
	[silver_coverage_in] [varchar](255) NULL,
	[stamps_coverage_in] [varchar](255) NULL,
	[wearable_collectibles_coverage_in] [varchar](255) NULL,
	[wine_coverage_in] [varchar](255) NULL,
	[minimum_earned_premium_endorsement_in] [varchar](255) NULL,
	[minimum_earned_premium_endorsement_limit_pc] [float] NULL,
	[wardrobe_loss_prevention_in] [varchar](255) NULL,
	[companion_credit_homeowner_in] [varchar](255) NULL,
	[agreed_value_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_bank_vaulted_jewelry_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_coins_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_collectibles_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_fine_arts_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_furs_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_guns_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_worldwide_jewelry_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_miscellaneous_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_musicalInstruments_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_silver_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_stamps_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_wearable_collectibles_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_class_wine_limitations_in] [varchar](255) NULL,
	[agreed_value_specified_items_limitations_in] [varchar](255) NULL,
	[alarm_warranty_limitations_in] [varchar](255) NULL,
	[breakage_exclusion_limitations_in] [varchar](255) NULL,
	[terrorism_limitations_in] [varchar](255) NULL,
	[Terrorism_limitations_amt] [int] NULL,
	[theft_mysterious_disappearance_exclusion_in] [varchar](255) NULL,
	[transit_limit_in] [varchar](255) NULL,
	[transit_limit_amt] [int] NULL,
	[hurricane_loss_exclusion_in] [varchar](255) NULL,
	[hurricane_loss_limitation_in] [varchar](255) NULL,
	[hurricane_loss_limitation_amt] [int] NULL,
	[outdoor_fine_art_hurricane_exclusion_in] [varchar](255) NULL,
	[terrorism_exclusion_in] [varchar](255) NULL,
	[deletion_of_cosmetic_marring_exclusion_in] [varchar](255) NULL,
	[earthquake_exclusion_in] [varchar](255) NULL,
	[earthquake_deductible_loss_limitations_in] [varchar](255) NULL,
	[earthquake_deductible_loss_limitations_limit] [int] NULL,
	[hotel_motel_exclusion_in] [varchar](255) NULL,
	[jewelry_off_premises_loss_limitation_in] [varchar](255) NULL,
	[spoilage_exclusion_in] [varchar](255) NULL,
	[change_in_terms_summary_in] [varchar](255) NULL,
	[change_in_terms_options] [nvarchar](max) NULL,
	[manuscript_in] [varchar](255) NULL,
	[coverage_deductible_in] [varchar](255) NULL,
	[coverage_deductible_amt] [int] NULL,
	[hurricane_deductible_in] [varchar](255) NULL,
	[hurricane_deductible_type] [varchar](255) NULL,
	[hurricane_deductible_amt] [int] NULL,
	[earthquake_deductible_in] [varchar](255) NULL,
	[earthquake_deductible_amt] [int] NULL,
	[wildfire_deductible_in] [varchar](255) NULL,
	[wildfire_deductible_type] [varchar](255) NULL,
	[wildfire_deductible_amt] [int] NULL,
	[wildfire_bark_mulch_within_ten_feet_of_any_structure_in] [varchar](255) NULL,
	[wildfire_combustible_deck_or_attached_structure_in] [varchar](255) NULL,
	[wildfire_combustible_wood_siding_in] [varchar](255) NULL,
	[wildfire_defensible_space_in] [varchar](255) NULL,
	[wildfire_distance_to_high_fuel_feet] [int] NULL,
	[wildfire_distance_to_moderate_fuel_feet] [int] NULL,
	[wildfire_distance_to_very_high_fuel_feet] [int] NULL,
	[wildfire_eaves_or_enclosed_eaves_in] [varchar](255) NULL,
	[wildfire_exteriorWildfireSprinklers_in] [varchar](255) NULL,
	[wildfire_firewood_or_combustibles_stored_against_home_in] [varchar](255) NULL,
	[wildfire_flammable_vegetation_within_ten_feet_of_any_structure_in] [varchar](255) NULL,
	[wildfire_gutter_guards_in] [varchar](255) NULL,
	[wildfire_hazard_severity] [varchar](255) NULL,
	[wildfire_nearest_distance_to_perimeter] [varchar](255) NULL,
	[wildfire_no_of_occurrences_near] [varchar](255) NULL,
	[wildfire_no_of_occurrences] [varchar](255) NULL,
	[wildfire_permanently_installed_spray_system_in] [varchar](255) NULL,
	[wildfire_portable_fire_break_system_in] [varchar](255) NULL,
	[wildfire_speciality_ember_resistant_venting_in] [varchar](255) NULL,
	[wildfire_threat] [varchar](255) NULL,
	[wildfire_wood_shake_or_shingle_roof_in] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcollection_additional_coverage] PRIMARY KEY CLUSTERED 
(
	[collection_additional_coverage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tcollection_additional_coverage_polno_effdt_transeq] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tcollection_additional_coverage]  WITH CHECK ADD  CONSTRAINT [fk_tcollection_additional_coverage_location_sk] FOREIGN KEY([collection_location_sk])
REFERENCES [edw_core].[tcollection_location] ([collection_location_sk])
GO
ALTER TABLE [edw_core].[tcollection_additional_coverage] CHECK CONSTRAINT [fk_tcollection_additional_coverage_location_sk]
GO
