/****** Object:  Table [edw_core].[tsource_system]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tsource_system](
	[source_system_sk] [int] IDENTITY(1,1) NOT NULL,
	[source_system_nm] [varchar](255) NOT NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tsource_system] PRIMARY KEY CLUSTERED 
(
	[source_system_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
