/****** Object:  Table [edw_core].[thome_coverage]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[thome_coverage](
	[home_coverage_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[home_location_sk] [int] NULL,
	[policy_history_sk] [int] NULL,
	[dwelling_limit_amt] [int] NULL,
	[other_structures_limit_amt] [int] NULL,
	[contents_limit_amt] [int] NULL,
	[loss_of_use_limit_amt] [varchar](255) NULL,
	[loss_of_use_option] [varchar](255) NULL,
	[personal_liability_limit_amt] [varchar](255) NULL,
	[medical_payments_limit_amt] [int] NULL,
	[exclude_inflation_factor_in] [varchar](255) NULL,
	[aop_deductible] [varchar](255) NULL,
	[hurricane_deductible] [varchar](255) NULL,
	[water_deductible] [varchar](255) NULL,
	[wildfire_deductible] [varchar](255) NULL,
	[wind_deductible] [varchar](255) NULL,
	[no_of_mortgagees] [int] NULL,
	[prior_claim_last5yr_in] [varchar](255) NULL,
	[prior_nonwater_claim_ct] [int] NULL,
	[prior_water_claim_ct] [int] NULL,
	[distance_to_coast] [varchar](255) NULL,
	[distance_to_fire_hydrant_feet] [varchar](255) NULL,
	[distance_to_fire_station_miles] [float] NULL,
	[fire_protection] [varchar](255) NULL,
	[occupancy_type] [varchar](255) NULL,
	[protection_class] [varchar](255) NULL,
	[earthquake_zone] [varchar](255) NULL,
	[terrain_cd] [varchar](255) NULL,
	[windborne_debris_region_in] [varchar](255) NULL,
	[windpool_eligibility_in] [varchar](255) NULL,
	[sinkhole_risk_level] [varchar](255) NULL,
	[sinkhole_distance_to_nearest_miles] [float] NULL,
	[total_finished_square_feet] [int] NULL,
	[construction_type] [varchar](255) NULL,
	[basement_type] [varchar](255) NULL,
	[active_renovation] [varchar](255) NULL,
	[renovation_anticipated_completion_dt] [date] NULL,
	[ulstandard] [varchar](255) NULL,
	[unit_floor] [varchar](255) NULL,
	[built_year] [int] NULL,
	[electrical_updated_year] [int] NULL,
	[hvac_updated_year] [int] NULL,
	[plumbing_updated_year] [int] NULL,
	[roof_updated_year] [int] NULL,
	[no_of_stories] [varchar](255) NULL,
	[shear_wave_velocity] [int] NULL,
	[barn_on_property_in] [varchar](255) NULL,
	[barn_value_amt] [int] NULL,
	[bceg_cd] [varchar](255) NULL,
	[windspeed_of_design] [varchar](255) NULL,
	[hail_resistant_rating_in] [varchar](255) NULL,
	[hurricane_fortification_in] [varchar](255) NULL,
	[mmi] [int] NULL,
	[swimming_pool_in] [varchar](255) NULL,
	[wildfire_threat] [varchar](255) NULL,
	[hazard_severity] [varchar](255) NULL,
	[distance_to_very_high_fuel_feet] [varchar](255) NULL,
	[distance_to_high_fuel_feet] [varchar](255) NULL,
	[distance_to_moderate_fuel_feet] [varchar](255) NULL,
	[no_of_wildfire_occurrences] [varchar](255) NULL,
	[no_of_wildfire_near_occurrences] [varchar](255) NULL,
	[nearest_distance_to_perimeter] [varchar](255) NULL,
	[combustible_wood_siding_in] [varchar](255) NULL,
	[combustible_deck_or_attached_structure_in] [varchar](255) NULL,
	[firewood_or_combustibles_stored_against_home_in] [varchar](255) NULL,
	[defensible_space_in] [varchar](255) NULL,
	[woodshake_or_shingle_roof_in] [varchar](255) NULL,
	[speciality_ember_resistant_venting_in] [varchar](255) NULL,
	[exterior_wildfire_sprinklers_in] [varchar](255) NULL,
	[eaves_or_enclosed_eaves_in] [varchar](255) NULL,
	[permanently_installed_spray_system_in] [varchar](255) NULL,
	[portable_fire_break_system_in] [varchar](255) NULL,
	[gutter_guards_in] [varchar](255) NULL,
	[bark_mulch_within_ten_feet_of_any_structure_in] [varchar](255) NULL,
	[flammable_vegetation_within_ten_feet_of_any_structure_in] [varchar](255) NULL,
	[opening_protection] [varchar](255) NULL,
	[roof_cover_deck] [varchar](255) NULL,
	[roof_covering] [varchar](255) NULL,
	[roof_deck_attachment] [varchar](255) NULL,
	[roof_geometry] [varchar](255) NULL,
	[roof_system_in] [varchar](255) NULL,
	[roof_wall_attachment] [varchar](255) NULL,
	[solar_feature_desc] [varchar](255) NULL,
	[secondary_water_resistance] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_thome_coverage] PRIMARY KEY CLUSTERED 
(
	[home_coverage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_thome_coverage_polno_effdt_transeq] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[thome_coverage]  WITH CHECK ADD  CONSTRAINT [fk_thome_coverage_location_sk] FOREIGN KEY([home_location_sk])
REFERENCES [edw_core].[thome_location] ([home_location_sk])
GO
ALTER TABLE [edw_core].[thome_coverage] CHECK CONSTRAINT [fk_thome_coverage_location_sk]
GO
