/****** Object:  Table [edw_stage].[AccountPremiumCoverage]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountPremiumCoverage](
	[Id] [int] NOT NULL,
	[AccountPremiumId] [int] NOT NULL,
	[Coverage] [nvarchar](1000) NULL,
	[Premium] [decimal](16, 4) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[AsLob] [nvarchar](40) NULL,
	[Label] [nvarchar](1000) NULL,
	[Commission] [decimal](16, 4) NOT NULL,
	[CommissionPercent] [decimal](16, 4) NOT NULL,
 CONSTRAINT [PK_AccountPremiumCoverage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountPremiumCoverage_AccountPremiumId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountPremiumCoverage_AccountPremiumId] ON [edw_stage].[AccountPremiumCoverage]
(
	[AccountPremiumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
