/****** Object:  Table [edw_core].[tcustomer_summary]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcustomer_summary](
	[month_sk] [int] NOT NULL,
	[customer_sk] [int] NOT NULL,
	[total_premium_amt] [decimal](15, 2) NULL,
	[total_annual_premium_amt] [decimal](15, 2) NULL,
	[total_inforce_ct] [int] NULL,
	[total_line_ct] [int] NULL,
	[homeowners_premium_amt] [decimal](15, 2) NULL,
	[collections_premium_amt] [decimal](15, 2) NULL,
	[auto_premium_amt] [decimal](15, 2) NULL,
	[excess_liability_premium_amt] [decimal](15, 2) NULL,
	[condo_premium_amt] [decimal](15, 2) NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcustomer_summary] PRIMARY KEY CLUSTERED 
(
	[month_sk] ASC,
	[customer_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tcustomer_summary]  WITH CHECK ADD  CONSTRAINT [fk_tcs_tcustomer_customer_sk] FOREIGN KEY([customer_sk])
REFERENCES [edw_core].[tcustomer] ([customer_sk])
GO
ALTER TABLE [edw_core].[tcustomer_summary] CHECK CONSTRAINT [fk_tcs_tcustomer_customer_sk]
GO
