/****** Object:  Table [edw_stage].[EmailProcessLog]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[EmailProcessLog](
	[Id] [uniqueidentifier] NOT NULL,
	[EmailId] [nvarchar](max) NULL,
	[EmailSubject] [nvarchar](max) NULL,
	[IsProcessed] [bit] NOT NULL,
	[EmailRecievedOnUtc] [datetime2](7) NOT NULL,
	[ProcessedOnUTC] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_EmailProcessLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
