/****** Object:  Table [edw_stage].[ProductPolicyNumberRange]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[ProductPolicyNumberRange](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](400) NULL,
	[Prefix] [nvarchar](40) NULL,
	[Suffix] [nvarchar](40) NULL,
	[StartRange] [int] NOT NULL,
	[EndRange] [int] NOT NULL,
	[NextIndex] [int] NOT NULL,
	[SkipNumbers] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[SharedRangeProductId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductPolicyNumberRange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPolicyNumberRange_ProductId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ProductPolicyNumberRange_ProductId] ON [edw_stage].[ProductPolicyNumberRange]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
