/****** Object:  Table [edw_core].[tetl_control]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tetl_control](
	[etl_control_sk] [int] IDENTITY(1,1) NOT NULL,
	[process_nm] [varchar](255) NULL,
	[last_source_extract_ts] [datetime2](7) NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tetl_control] PRIMARY KEY CLUSTERED 
(
	[etl_control_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
