/****** Object:  Table [edw_stage].[Coverage]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Coverage](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Number] [int] NOT NULL,
	[AsLob] [nvarchar](40) NULL,
	[ShortName] [nvarchar](40) NULL,
	[ObjectType] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Coverage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
