/****** Object:  Table [edw_stage].[ProductObject]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[ProductObject](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ObjectType] [nvarchar](400) NULL,
	[Label] [nvarchar](400) NULL,
	[AutoAdd] [bit] NOT NULL,
	[MaxAllowed] [int] NOT NULL,
	[ParentObjectType] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsForm] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_ProductObject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductObject_ProductId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ProductObject_ProductId] ON [edw_stage].[ProductObject]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
