/****** Object:  Table [edw_stage].[AccountReportItem]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountReportItem](
	[Id] [int] NOT NULL,
	[ReportId] [int] NOT NULL,
	[Category] [nvarchar](4000) NULL,
	[Group] [nvarchar](4000) NULL,
	[Label] [nvarchar](4000) NULL,
	[Field] [nvarchar](4000) NULL,
	[Value] [nvarchar](max) NULL,
	[ValueFormatted] [nvarchar](max) NULL,
	[Path] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[Highlight] [bit] NOT NULL,
	[FieldFormatted] [nvarchar](4000) NULL,
	[IsUsed] [bit] NOT NULL,
	[ObjectType] [nvarchar](400) NULL,
	[ValueMapped] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountReportItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountReportItem_ReportId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountReportItem_ReportId] ON [edw_stage].[AccountReportItem]
(
	[ReportId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
