/****** Object:  Table [edw_stage].[AccountSubjectivity]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountSubjectivity](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Required] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[IsCompleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[Index] [int] NOT NULL,
	[IsSignaturePackage] [bit] NOT NULL,
	[IsUploadRequired] [bit] NOT NULL,
	[IsSignatureDocument] [bit] NOT NULL,
	[UploadedDocumentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AccountSubjectivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountSubjectivity_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountSubjectivity_AccountId] ON [edw_stage].[AccountSubjectivity]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountSubjectivity_UploadedDocumentId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountSubjectivity_UploadedDocumentId] ON [edw_stage].[AccountSubjectivity]
(
	[UploadedDocumentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
