/****** Object:  Table [edw_stage].[ProductObjectField]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[ProductObjectField](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductObjectId] [uniqueidentifier] NOT NULL,
	[Label] [nvarchar](400) NULL,
	[Field] [nvarchar](400) NULL,
	[Value] [nvarchar](4000) NULL,
	[DataType] [nvarchar](400) NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Group] [nvarchar](400) NULL,
	[IsEncrypted] [bit] NOT NULL,
	[ParentField] [nvarchar](480) NULL,
	[ParentFieldTriggerValues] [nvarchar](4000) NULL,
	[Index] [int] NOT NULL,
	[IsHidden] [bit] NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[IsDisabled] [bit] NOT NULL,
	[IsPostBindDisable] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[IgnorePolicyChangeTracking] [bit] NOT NULL,
	[ReferenceObjectType] [nvarchar](400) NULL,
 CONSTRAINT [PK_ProductObjectField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductObjectField_ProductObjectId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ProductObjectField_ProductObjectId] ON [edw_stage].[ProductObjectField]
(
	[ProductObjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
