/****** Object:  Table [edw_core].[tedw_table_detail]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tedw_table_detail](
	[edw_table_detail_sk] [int] IDENTITY(1,1) NOT NULL,
	[table_nm] [varchar](255) NULL,
	[table_type] [varchar](255) NULL,
	[table_category_nm] [varchar](255) NULL,
	[domain_nm] [varchar](255) NULL,
	[load_method] [varchar](255) NULL,
	[load_type] [varchar](255) NULL,
	[load_frequency] [varchar](255) NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tedw_table_detail] PRIMARY KEY CLUSTERED 
(
	[edw_table_detail_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
