/****** Object:  Table [edw_stage].[BillingAccount]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[BillingAccount](
	[Id] [uniqueidentifier] NOT NULL,
	[InsuredId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[BillToType] [nvarchar](100) NULL,
	[BillToBrokerageId] [uniqueidentifier] NULL,
	[IsFinanced] [bit] NOT NULL,
	[FinanceCompanyName] [nvarchar](4000) NULL,
	[EffectiveDate] [datetime2](7) NOT NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[ReferenceCode] [int] NOT NULL,
	[BillingAddressIsMailingAddress] [bit] NOT NULL,
	[AddressLine1] [nvarchar](1000) NULL,
	[AddressLine2] [nvarchar](1000) NULL,
	[AddressCity] [nvarchar](1000) NULL,
	[AddressState] [nvarchar](1000) NULL,
	[AddressZipCode] [nvarchar](1000) NULL,
	[AddressCounty] [nvarchar](1000) NULL,
	[AddressCountry] [nvarchar](1000) NULL,
	[ContactInfoIsInsured] [bit] NOT NULL,
	[ContactEntityName] [nvarchar](4000) NULL,
	[ContactPrefix] [nvarchar](20) NULL,
	[ContactFirstName] [nvarchar](1000) NULL,
	[ContactMiddleName] [nvarchar](1000) NULL,
	[ContactLastName] [nvarchar](1000) NULL,
	[ContactSuffix] [nvarchar](20) NULL,
	[ContactPhone] [nvarchar](40) NULL,
	[ContactEmail] [nvarchar](800) NULL,
	[MortgageeLoanNumber] [nvarchar](200) NULL,
	[PaymentPlan] [nvarchar](100) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_BillingAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
