/****** Object:  Table [edw_stage].[Brokerage]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Brokerage](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Fein] [nvarchar](40) NULL,
	[AddressLine1] [nvarchar](1000) NULL,
	[AddressLine2] [nvarchar](1000) NULL,
	[AddressCity] [nvarchar](1000) NULL,
	[AddressState] [nvarchar](1000) NULL,
	[AddressZipCode] [nvarchar](1000) NULL,
	[AddressCountry] [nvarchar](1000) NULL,
	[Code] [nvarchar](400) NULL,
	[ProducerId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Dba] [nvarchar](1000) NULL,
	[AddressCounty] [nvarchar](1000) NULL,
	[HasProfilePhoto] [bit] NOT NULL,
	[ReferenceCode] [int] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[Status] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Brokerage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brokerage_ProducerId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Brokerage_ProducerId] ON [edw_stage].[Brokerage]
(
	[ProducerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brokerage_ReferenceCode]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Brokerage_ReferenceCode] ON [edw_stage].[Brokerage]
(
	[ReferenceCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
