/****** Object:  Table [edw_stage].[AccountTransactionVersionPremium]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionPremium](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionId] [int] NOT NULL,
	[TotalPremium] [decimal](16, 4) NOT NULL,
	[CommissionAmount] [decimal](16, 4) NOT NULL,
	[CommissionPercent] [decimal](16, 4) NOT NULL,
	[NetPremium] [decimal](16, 4) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[GrossPremium] [decimal](16, 4) NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionPremium] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionPremium_AccountTransactionVersionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionPremium_AccountTransactionVersionId] ON [edw_stage].[AccountTransactionVersionPremium]
(
	[AccountTransactionVersionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
