/****** Object:  Table [edw_stage].[AccountTransactionVersionInsight]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionInsight](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionId] [int] NOT NULL,
	[AccountObjectId] [int] NULL,
	[Category] [nvarchar](4000) NULL,
	[Label] [nvarchar](4000) NULL,
	[Group] [nvarchar](4000) NULL,
	[Field] [nvarchar](4000) NULL,
	[Value] [nvarchar](4000) NULL,
	[ValueFormatted] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Highlight] [bit] NOT NULL,
	[InternalUserOnly] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionInsight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionInsight_AccountObjectId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionInsight_AccountObjectId] ON [edw_stage].[AccountTransactionVersionInsight]
(
	[AccountObjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionInsight_AccountTransactionVersionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionInsight_AccountTransactionVersionId] ON [edw_stage].[AccountTransactionVersionInsight]
(
	[AccountTransactionVersionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
