/****** Object:  Table [edw_core].[tcause_of_loss]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcause_of_loss](
	[cause_of_loss_sk] [int] IDENTITY(1,1) NOT NULL,
	[cause_of_loss_cd] [varchar](255) NULL,
	[cause_of_loss_desc] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcause_of_loss] PRIMARY KEY CLUSTERED 
(
	[cause_of_loss_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tcause_of_loss_cause_of_loss_cd] UNIQUE NONCLUSTERED 
(
	[cause_of_loss_cd] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
