/****** Object:  Table [edw_stage].[AccountDocumentDeliveryRecipient]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountDocumentDeliveryRecipient](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](4000) NULL,
	[DeliveryPreference] [nvarchar](400) NULL,
	[Email] [nvarchar](2000) NULL,
	[MailingAddressLine1] [nvarchar](1000) NULL,
	[MailingAddressLine2] [nvarchar](1000) NULL,
	[MailingAddressCity] [nvarchar](1000) NULL,
	[MailingAddressState] [nvarchar](1000) NULL,
	[MailingAddressZipCode] [nvarchar](1000) NULL,
	[MailingAddressCounty] [nvarchar](1000) NULL,
	[MailingAddressCountry] [nvarchar](1000) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AccountDocumentDeliveryRecipient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountDocumentDeliveryRecipient_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountDocumentDeliveryRecipient_AccountId] ON [edw_stage].[AccountDocumentDeliveryRecipient]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
