/****** Object:  Table [edw_core].[tcollection_coverage]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcollection_coverage](
	[collection_coverage_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[collection_location_sk] [int] NULL,
	[policy_history_sk] [int] NULL,
	[class_type] [varchar](255) NULL,
	[scheduled_limit_amt] [int] NULL,
	[scheduled_highest_value_limit_amt] [int] NULL,
	[blanket_limit_amt] [int] NULL,
	[blanket_highest_value_limit_amt] [int] NULL,
	[blanket_single_article_limit_amt] [int] NULL,
	[highest_value_scheduled_item_appraisal_dt] [date] NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcollection_coverage] PRIMARY KEY CLUSTERED 
(
	[collection_coverage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tcollection_coverage_policy_no_effective_dt_transeq_class] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC,
	[class_type] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tcollection_coverage]  WITH CHECK ADD  CONSTRAINT [fk_tcollection_coverage_location_sk] FOREIGN KEY([collection_location_sk])
REFERENCES [edw_core].[tcollection_location] ([collection_location_sk])
GO
ALTER TABLE [edw_core].[tcollection_coverage] CHECK CONSTRAINT [fk_tcollection_coverage_location_sk]
GO
