/****** Object:  Table [edw_stage].[tproduct_datamart]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[tproduct_datamart](
	[product_datamart_sk] [int] IDENTITY(1,1) NOT NULL,
	[product_datamart_nm] [varchar](100) NULL,
	[run_order] [int] NULL
) ON [PRIMARY]
GO
