/****** Object:  Table [edw_stage].[AccountTransactionVersionObject]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionObject](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionId] [int] NOT NULL,
	[ParentObjectId] [int] NULL,
	[Index] [int] NOT NULL,
	[ObjectType] [nvarchar](400) NULL,
	[ObjectGroupIdentifier] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[MaxAllowed] [int] NOT NULL,
	[IsForm] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionObject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionObject_AccountTransactionVersionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionObject_AccountTransactionVersionId] ON [edw_stage].[AccountTransactionVersionObject]
(
	[AccountTransactionVersionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionObject_ParentObjectId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionObject_ParentObjectId] ON [edw_stage].[AccountTransactionVersionObject]
(
	[ParentObjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
