/****** Object:  Table [edw_stage].[BrokerageLicense]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[BrokerageLicense](
	[Id] [uniqueidentifier] NOT NULL,
	[BrokerageId] [uniqueidentifier] NOT NULL,
	[License] [nvarchar](1000) NULL,
	[StateCode] [nvarchar](4) NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Category] [nvarchar](4000) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[LicenseHolderName] [nvarchar](4000) NULL,
	[ResidencyCode] [nvarchar](4000) NULL,
 CONSTRAINT [PK_BrokerageLicense] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrokerageLicense_BrokerageId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BrokerageLicense_BrokerageId] ON [edw_stage].[BrokerageLicense]
(
	[BrokerageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
