/****** Object:  Table [edw_core].[tpel_coverage]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpel_coverage](
	[pel_coverage_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[policy_history_sk] [int] NULL,
	[pel_limit_amt] [int] NULL,
	[uninsured_underinsured_motorist_liability_amt] [varchar](255) NULL,
	[uninsured_underinsured_liability_amt] [varchar](255) NULL,
	[employment_practices_liability_amt] [varchar](255) NULL,
	[private_staff_ct] [int] NULL,
	[allegation_by_private_staff_in] [varchar](255) NULL,
	[do_limit_amt] [varchar](255) NULL,
	[do_continuity_dt] [date] NULL,
	[do_continuity_override_dt] [date] NULL,
	[public_profile_in] [varchar](255) NULL,
	[level_of_attention] [varchar](255) NULL,
	[libel_slander_exclusion_in] [varchar](255) NULL,
	[political_exclusion_in] [varchar](255) NULL,
	[animal_related_liability_exclusion_in] [varchar](255) NULL,
	[higher_underlying_limits_endorsement_in] [varchar](255) NULL,
	[addl_insured_limited_liability_in] [varchar](255) NULL,
	[minimum_earned_premium_endorsement_in] [varchar](255) NULL,
	[minimum_earned_premium_endorsement_limit_pc] [float] NULL,
	[premises_liability_limitation_in] [varchar](255) NULL,
	[deletion_of_cosmetic_marring_exclusion_in] [varchar](255) NULL,
	[manuscript_in] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tpel_coverage] PRIMARY KEY CLUSTERED 
(
	[pel_coverage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpel_coverage_polno_effdt_transeq] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
