/****** Object:  Table [edw_integration].[test1]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_integration].[test1](
	[id] [int] NULL
) ON [PRIMARY]
GO
