/****** Object:  Table [edw_stage].[AccountTransactionVersionForm]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionForm](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionId] [int] NOT NULL,
	[Index] [int] NOT NULL,
	[Number] [nvarchar](200) NULL,
	[Edition] [nvarchar](20) NULL,
	[Description] [nvarchar](1000) NULL,
	[FormType] [nvarchar](1000) NULL,
	[IsRemoved] [bit] NOT NULL,
	[IsRemovedByUserId] [uniqueidentifier] NULL,
	[IsAddedByUserId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsAddedOnCurrentTransaction] [bit] NOT NULL,
	[DocumentType] [nvarchar](400) NULL,
	[IsAttached] [bit] NOT NULL,
	[IsOptional] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionForm_AccountTransactionVersionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionForm_AccountTransactionVersionId] ON [edw_stage].[AccountTransactionVersionForm]
(
	[AccountTransactionVersionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
