/****** Object:  Table [edw_stage].[AccountTransactionVersionPremiumTransactionSummary]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionPremiumTransactionSummary](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionPremiumId] [int] NOT NULL,
	[Label] [nvarchar](400) NULL,
	[Value] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionPremiumTransactionSummary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionPremiumTransactionSummary_AccountTransactionVersionPremiumId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionPremiumTransactionSummary_AccountTransactionVersionPremiumId] ON [edw_stage].[AccountTransactionVersionPremiumTransactionSummary]
(
	[AccountTransactionVersionPremiumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
