/****** Object:  Table [edw_core].[tetl_audit]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tetl_audit](
	[etl_audit_sk] [int] IDENTITY(1,1) NOT NULL,
	[process_nm] [varchar](255) NULL,
	[process_start_ts] [datetime] NULL,
	[process_end_ts] [datetime] NULL,
	[record_ct] [int] NULL,
	[status_desc] [varchar](255) NULL,
	[error_message_desc] [varchar](2000) NULL,
	[parameter_desc] [varchar](255) NULL,
 CONSTRAINT [pk_tetl_audit] PRIMARY KEY CLUSTERED 
(
	[etl_audit_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
