/****** Object:  Table [edw_core].[tpolicy_status]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpolicy_status](
	[policy_status_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_status_cd] [varchar](255) NOT NULL,
	[policy_status_desc] [varchar](255) NOT NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tpolicy_status] PRIMARY KEY CLUSTERED 
(
	[policy_status_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tpolicy_status_policy_status_cd] UNIQUE NONCLUSTERED 
(
	[policy_status_cd] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
