/****** Object:  Table [edw_core].[thome_additional_coverage]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[thome_additional_coverage](
	[home_additional_coverage_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[home_location_sk] [int] NULL,
	[home_coverage_sk] [int] NULL,
	[policy_history_sk] [int] NULL,
	[central_reporting_fire_alarm_in] [varchar](255) NULL,
	[central_reporting_burglar_alarm_in] [varchar](255) NULL,
	[twentyfour_hour_doorman_in] [varchar](255) NULL,
	[lobby_surveillance_camera_in] [varchar](255) NULL,
	[locked_or_manned_elevators_in] [varchar](255) NULL,
	[twentyfour_hour_signal_continuity_in] [varchar](255) NULL,
	[guard_gated_community_in] [varchar](255) NULL,
	[guard_community_patrol_service_in] [varchar](255) NULL,
	[home_safe_in] [varchar](255) NULL,
	[fulltime_live_in_caretaker_in] [varchar](255) NULL,
	[gas_leak_detector_in] [varchar](255) NULL,
	[lightning_protection_in] [varchar](255) NULL,
	[low_temperature_monitoring_device_in] [varchar](255) NULL,
	[backup_generator_in] [varchar](255) NULL,
	[external_perimeter_gate_in] [varchar](255) NULL,
	[external_perimeter_security] [varchar](255) NULL,
	[water_leak_detection_system] [varchar](255) NULL,
	[residential_sprinkler_system_in] [varchar](255) NULL,
	[business_property_increase_in] [varchar](255) NULL,
	[business_property_increase_limit_amt] [int] NULL,
	[deductible_waiver_large_losses_in] [varchar](255) NULL,
	[deductible_waiver_large_losses_limit_amt] [int] NULL,
	[earthquake_coverage_extension_in] [varchar](255) NULL,
	[earthquake_coverage_extension_deductible] [varchar](255) NULL,
	[earthquake_coverage_extension_loss_assessment_in] [varchar](255) NULL,
	[earthquake_coverage_extension_loss_assessment_limit_amt] [int] NULL,
	[fungi_bacteria_increase_in] [varchar](255) NULL,
	[fungi_bacteria_increase_limit] [float] NULL,
	[fungi_bacteria_liability_extension_in] [varchar](255) NULL,
	[home_systems_protection_in] [varchar](255) NULL,
	[home_systems_protection_limit_amt] [int] NULL,
	[increased_incidental_business_threshold_in] [varchar](255) NULL,
	[increased_incidental_business_threshold_limit_amt] [int] NULL,
	[landscaping_coverage_increased_limits_in] [varchar](255) NULL,
	[landscaping_coverage_increased_plant_limit_amt] [int] NULL,
	[landscaping_coverage_increased_aggregate_limit] [float] NULL,
	[landscaping_coverage_sleet_and_weight_of_ice_and_snow_coverage_limit_amt] [int] NULL,
	[landscaping_coverage_wind_and_hail_coverage_limit_amt] [int] NULL,
	[law_ordinance_coverage_increase_in] [varchar](255) NULL,
	[law_ordinance_coverage_increased_limit] [varchar](255) NULL,
	[loss_assessment_increase_in] [varchar](255) NULL,
	[loss_assessment_increase_limit_amt] [int] NULL,
	[serviceline_protection_in] [varchar](255) NULL,
	[thoroughbred_horse_liability_extension_in] [varchar](255) NULL,
	[no_of_horses] [varchar](255) NULL,
	[home_cyber_protection_coverage_in] [varchar](255) NULL,
	[home_cyber_protection_coverage_deductible] [varchar](255) NULL,
	[home_cyber_protection_coverage_limit_amt] [int] NULL,
	[offpremises_other_permanent_structures_extension_in] [varchar](255) NULL,
	[offpremises_other_permanent_structures_extension_desc] [nvarchar](max) NULL,
	[agreed_value_in] [varchar](255) NULL,
	[backup_of_sewers_limit_in] [varchar](255) NULL,
	[contents_extended_replacement_cost_in] [varchar](255) NULL,
	[coverage_for_piers_wharves_and_docks_due_to_weight_of_ice_or_snow_in] [varchar](255) NULL,
	[coverage_for_piers_wharves_and_docks_due_to_weight_of_ice_or_snow_limit_amt] [int] NULL,
	[damage_to_property_of_others_increased_limit_amt] [int] NULL,
	[debris_removal_broadaned_tree_removal_in] [varchar](255) NULL,
	[earthquake_endorsement_in] [varchar](255) NULL,
	[earthquake_endorsement_deductible] [varchar](255) NULL,
	[escaped_liquid_fuel_liability_limit_amt] [varchar](255) NULL,
	[escaped_liquid_fuel_remediation_coverage_in] [varchar](255) NULL,
	[escaped_liquid_fuel_remediation_liability_limit_amt] [varchar](255) NULL,
	[escaped_liquid_fuel_remediation_risk_class_no] [varchar](255) NULL,
	[fortified_roof_upgrade_in] [varchar](255) NULL,
	[home_daycare_coverage_in] [varchar](255) NULL,
	[identity_theft_in] [varchar](255) NULL,
	[pollutants_or_contimination_extension_in] [varchar](255) NULL,
	[pollutants_or_contimination_tankage] [int] NULL,
	[pollutants_or_contimination_tank_construction] [varchar](255) NULL,
	[pollutants_or_contimination_tank_location] [varchar](255) NULL,
	[pollutants_or_contimination_tank_type] [varchar](255) NULL,
	[residence_held_in_trust_in] [varchar](255) NULL,
	[sinkhole_collapse_in] [varchar](255) NULL,
	[sinkhole_coverage_extension_in] [varchar](255) NULL,
	[supplemental_loss_assessment_coverage_in] [varchar](255) NULL,
	[supplemental_loss_assessment_coverage_additional_locations] [varchar](255) NULL,
	[supplemental_loss_assessment_coverage_premises] [varchar](255) NULL,
	[workercompensation_liability_in] [varchar](255) NULL,
	[workercompensation_liability_fulltime_employees_ct] [int] NULL,
	[workercompensation_liability_occurance_limit_amt] [int] NULL,
	[workercompensation_liability_parttime_employees_ct] [int] NULL,
	[guaranteed_replacement_cost_in] [varchar](255) NULL,
	[replacement_cost_coverage_in] [varchar](255) NULL,
	[roof_covering_full_reconstruction_cost_coverage_in] [varchar](255) NULL,
	[additional_replacement_cost_coverage_in] [varchar](255) NULL,
	[additional_replacement_cost_coverage_with_wildfire_in] [varchar](255) NULL,
	[dwelling_reconstruction_cost_coverage_in] [varchar](255) NULL,
	[extended_replacement_cost_coverage_with_additional_wildfire_in] [varchar](255) NULL,
	[extended_replacement_cost_coverage_with_wildfire_in] [varchar](255) NULL,
	[extended_replacement_cost_coverage_in] [varchar](255) NULL,
	[extended_replacement_cost_coverage_option] [varchar](255) NULL,
	[mine_subsidence_coverage_in] [varchar](255) NULL,
	[mine_subsidence_coverage_limit_amt] [int] NULL,
	[minimum_earned_premium_endorsement_in] [varchar](255) NULL,
	[minimum_earned_premium_endorsement_limit_pct] [float] NULL,
	[contents_off_premises_loss_exclusion_in] [varchar](255) NULL,
	[premises_liability_limitation_in] [varchar](255) NULL,
	[manuscript_in] [varchar](255) NULL,
	[amended_settlement_basis_in] [varchar](255) NULL,
	[additions_and_alterations_extended_replacement_cost_in] [varchar](255) NULL,
	[change_in_terms_options] [varchar](255) NULL,
	[change_in_terms_summary] [varchar](255) NULL,
	[deletion_of_cosmetic_marring_exclusion_in] [varchar](255) NULL,
	[exclude_wind_in] [varchar](255) NULL,
	[wind_hail_exclusion_in] [varchar](255) NULL,
	[roof_exclusion_in] [varchar](255) NULL,
	[waterdamage_exclusion_in] [varchar](255) NULL,
	[waterdamage_limitation_endorsement_in] [varchar](255) NULL,
	[waterdamage_limitation_endorsement_limit_amt] [int] NULL,
	[waterdamage_sublimit] [varchar](255) NULL,
	[waterdamage_sublimit_amt] [int] NULL,
	[underground_resources_exclusion_in] [varchar](255) NULL,
	[named_structures_exclusion_in] [varchar](255) NULL,
	[named_structures_exclusion_desc] [nvarchar](max) NULL,
	[animal_related_liability_exclusion_in] [varchar](255) NULL,
	[libel_slander_exclusion_in] [varchar](255) NULL,
	[political_activities_exclusion_in] [varchar](255) NULL,
	[equine_related_liability_exclusion_in] [varchar](255) NULL,
	[canine_liability_exclusion_in] [varchar](255) NULL,
	[named_structures_property_and_liability_exclusion_in] [varchar](255) NULL,
	[named_structures_property_and_liability_exclusion_desc] [nvarchar](max) NULL,
	[other_structures_away_from_the_residence_premises_in] [varchar](255) NULL,
	[other_structures_away_from_the_residence_premises_desc] [nvarchar](max) NULL,
	[other_structures_on_the_residence_premises_increased_limit_in] [varchar](255) NULL,
	[other_structures_on_the_residence_premises_increased_limit_amt] [int] NULL,
	[other_structures_on_the_residence_premises_increased_limit_desc] [nvarchar](max) NULL,
	[extended_liability_in] [varchar](255) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_thome_additional_coverage] PRIMARY KEY CLUSTERED 
(
	[home_additional_coverage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_thome_additional_coverage_polno_effdt_transeq] UNIQUE NONCLUSTERED 
(
	[policy_no] ASC,
	[effective_dt] ASC,
	[transaction_seq_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edw_core].[thome_additional_coverage]  WITH CHECK ADD  CONSTRAINT [fk_thome_additional_coverage_coverage_sk] FOREIGN KEY([home_coverage_sk])
REFERENCES [edw_core].[thome_coverage] ([home_coverage_sk])
GO
ALTER TABLE [edw_core].[thome_additional_coverage] CHECK CONSTRAINT [fk_thome_additional_coverage_coverage_sk]
GO
ALTER TABLE [edw_core].[thome_additional_coverage]  WITH CHECK ADD  CONSTRAINT [fk_thome_additional_coverage_location_sk] FOREIGN KEY([home_location_sk])
REFERENCES [edw_core].[thome_location] ([home_location_sk])
GO
ALTER TABLE [edw_core].[thome_additional_coverage] CHECK CONSTRAINT [fk_thome_additional_coverage_location_sk]
GO
