/****** Object:  Table [edw_core].[tdate]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tdate](
	[date_sk] [int] IDENTITY(1,1) NOT NULL,
	[actual_dt] [date] NOT NULL,
	[calendar_year] [int] NOT NULL,
	[yearmonth] [int] NOT NULL,
	[month_nm] [varchar](255) NOT NULL,
	[day_nm] [varchar](255) NOT NULL,
	[year_quarter] [varchar](6) NOT NULL,
	[accounting_month] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[month_end_in] [varchar](255) NOT NULL,
 CONSTRAINT [pk_tdate] PRIMARY KEY CLUSTERED 
(
	[date_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tdate_actual_dt] UNIQUE NONCLUSTERED 
(
	[actual_dt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tdate] ADD  DEFAULT ('N') FOR [month_end_in]
GO
