/****** Object:  Table [edw_core].[tclaim]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tclaim](
	[claim_sk] [int] IDENTITY(1,1) NOT NULL,
	[claim_no] [varchar](255) NULL,
	[loss_dt] [date] NULL,
	[report_dt] [date] NULL,
	[policy_no] [varchar](255) NULL,
	[policy_effective_dt] [date] NULL,
	[policy_sk] [int] NULL,
	[cause_of_loss_sk] [int] NULL,
	[sub_cause_of_loss_sk] [int] NULL,
	[loss_desc] [nvarchar](max) NULL,
	[claim_status] [varchar](255) NULL,
	[source_claim_status] [varchar](255) NULL,
	[catastrophe_sk] [int] NULL,
	[product_sk] [int] NULL,
	[underwriting_company_nm] [varchar](255) NULL,
	[loss_address] [varchar](255) NULL,
	[loss_city_nm] [varchar](255) NULL,
	[loss_state_cd] [varchar](255) NULL,
	[loss_zip_cd] [varchar](255) NULL,
	[loss_country_nm] [varchar](255) NULL,
	[broker_id] [varchar](255) NULL,
	[customer_id] [varchar](255) NULL,
	[contact_nm] [varchar](255) NULL,
	[contact_type] [varchar](255) NULL,
	[contact_phone] [varchar](255) NULL,
	[contact_person_email] [varchar](255) NULL,
	[loss_reserve_amt] [decimal](15, 2) NULL,
	[expense_reserve_amt] [decimal](15, 2) NULL,
	[adjusting_other_reserve_amt] [decimal](15, 2) NULL,
	[subro_reserve_amt] [decimal](15, 2) NULL,
	[salvage_reserve_amt] [decimal](15, 2) NULL,
	[salvage_expense_reserve_amt] [decimal](15, 2) NULL,
	[subro_expense_reserve_amt] [decimal](15, 2) NULL,
	[loss_paid_amt] [decimal](15, 2) NULL,
	[expense_paid_amt] [decimal](15, 2) NULL,
	[adjusting_other_paid_amt] [decimal](15, 2) NULL,
	[subro_recovery_amt] [decimal](15, 2) NULL,
	[salvage_recovery_amt] [decimal](15, 2) NULL,
	[salvage_expense_paid_amt] [decimal](15, 2) NULL,
	[subro_expense_paid_amt] [decimal](15, 2) NULL,
	[refund_indemnity_paid_amt] [decimal](15, 2) NULL,
	[refund_expense_paid_amt] [decimal](15, 2) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tclaim] PRIMARY KEY CLUSTERED 
(
	[claim_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tclaim_claim_no] UNIQUE NONCLUSTERED 
(
	[claim_no] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tclaim]  WITH CHECK ADD  CONSTRAINT [fk_tclaim_catastrophe_sk] FOREIGN KEY([catastrophe_sk])
REFERENCES [edw_core].[tcatastrophe] ([catastrophe_sk])
GO
ALTER TABLE [edw_core].[tclaim] CHECK CONSTRAINT [fk_tclaim_catastrophe_sk]
GO
ALTER TABLE [edw_core].[tclaim]  WITH CHECK ADD  CONSTRAINT [fk_tclaim_cause_of_loss_sk] FOREIGN KEY([cause_of_loss_sk])
REFERENCES [edw_core].[tcause_of_loss] ([cause_of_loss_sk])
GO
ALTER TABLE [edw_core].[tclaim] CHECK CONSTRAINT [fk_tclaim_cause_of_loss_sk]
GO
ALTER TABLE [edw_core].[tclaim]  WITH CHECK ADD  CONSTRAINT [fk_tclaim_policy_sk] FOREIGN KEY([policy_sk])
REFERENCES [edw_core].[tpolicy] ([policy_sk])
GO
ALTER TABLE [edw_core].[tclaim] CHECK CONSTRAINT [fk_tclaim_policy_sk]
GO
ALTER TABLE [edw_core].[tclaim]  WITH CHECK ADD  CONSTRAINT [fk_tclaim_product_sk] FOREIGN KEY([product_sk])
REFERENCES [edw_core].[tproduct] ([product_sk])
GO
ALTER TABLE [edw_core].[tclaim] CHECK CONSTRAINT [fk_tclaim_product_sk]
GO
ALTER TABLE [edw_core].[tclaim]  WITH CHECK ADD  CONSTRAINT [fk_tclaim_source_system_sk] FOREIGN KEY([source_system_sk])
REFERENCES [edw_core].[tsource_system] ([source_system_sk])
GO
ALTER TABLE [edw_core].[tclaim] CHECK CONSTRAINT [fk_tclaim_source_system_sk]
GO
ALTER TABLE [edw_core].[tclaim]  WITH CHECK ADD  CONSTRAINT [fk_tclaim_sub_cause_of_loss_sk] FOREIGN KEY([sub_cause_of_loss_sk])
REFERENCES [edw_core].[tsub_cause_of_loss] ([sub_cause_of_loss_sk])
GO
ALTER TABLE [edw_core].[tclaim] CHECK CONSTRAINT [fk_tclaim_sub_cause_of_loss_sk]
GO
