/****** Object:  Table [edw_core].[tcustomer]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcustomer](
	[customer_sk] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [varchar](255) NOT NULL,
	[customer_nm] [varchar](255) NULL,
	[first_nm] [varchar](255) NULL,
	[middle_nm] [varchar](255) NULL,
	[last_nm] [varchar](255) NULL,
	[Insured_type] [varchar](255) NULL,
	[home_phone_no] [varchar](255) NULL,
	[mobile_phone_no] [varchar](255) NULL,
	[birth_dt] [date] NULL,
	[occupation_desc] [varchar](255) NULL,
	[employer_nm] [varchar](255) NULL,
	[prefix] [varchar](255) NULL,
	[suffix] [varchar](255) NULL,
	[title] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[agency_id] [varchar](255) NULL,
	[address_line_1] [varchar](255) NULL,
	[address_line_2] [varchar](255) NULL,
	[unit_no] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[country_nm] [varchar](255) NULL,
	[family_account_in] [varchar](1) NULL,
	[vip_in] [varchar](1) NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcustomer] PRIMARY KEY CLUSTERED 
(
	[customer_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tcustomer_customer_id] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
