/****** Object:  Table [edw_core].[tinternal_coverage]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tinternal_coverage](
	[internal_coverage_sk] [int] IDENTITY(1,1) NOT NULL,
	[internal_coverage_cd] [varchar](255) NOT NULL,
	[product_cd] [varchar](255) NOT NULL,
	[internal_coverage_desc] [varchar](255) NULL,
	[aslob_cd] [varchar](255) NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
 CONSTRAINT [pk_tinternal_coverage] PRIMARY KEY CLUSTERED 
(
	[internal_coverage_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tinternal_coverage] UNIQUE NONCLUSTERED 
(
	[internal_coverage_cd] ASC,
	[product_cd] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
