/****** Object:  Table [edw_stage].[AccountTransactionVersion]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersion](
	[Id] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[AccountTransactionId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[MasterInsuredId] [uniqueidentifier] NOT NULL,
	[UnderwriterUserId] [uniqueidentifier] NOT NULL,
	[BrokerageId] [uniqueidentifier] NOT NULL,
	[BrokerId] [uniqueidentifier] NOT NULL,
	[Stage] [nvarchar](400) NULL,
	[State] [nvarchar](400) NULL,
	[IsRenewal] [bit] NOT NULL,
	[Number] [int] NOT NULL,
	[PolicyNumber] [nvarchar](50) NULL,
	[RenewalOfPolicyNumber] [nvarchar](50) NULL,
	[EffectiveDate] [datetime2](7) NULL,
	[ExpirationDate] [datetime2](7) NULL,
	[RateDate] [datetime2](7) NOT NULL,
	[RiskStateCode] [nvarchar](4) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[RulesReferenceUrl] [nvarchar](4000) NULL,
	[FormReferenceUrl] [nvarchar](4000) NULL,
	[CoInsuredId] [uniqueidentifier] NULL,
	[RoundPremiumToNearestDollar] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[MinimumEarnedPremiumPercent] [int] NOT NULL,
	[InitialRenewalOfPolicyNumber] [nvarchar](50) NULL,
	[IsRenewed] [bit] NOT NULL,
	[NonRenewalState] [nvarchar](400) NULL,
	[RenewalIndex] [int] NOT NULL,
 CONSTRAINT [PK_AccountTransactionVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersion_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersion_AccountId] ON [edw_stage].[AccountTransactionVersion]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersion_AccountTransactionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersion_AccountTransactionId] ON [edw_stage].[AccountTransactionVersion]
(
	[AccountTransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersion_BrokerageId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersion_BrokerageId] ON [edw_stage].[AccountTransactionVersion]
(
	[BrokerageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersion_BrokerId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersion_BrokerId] ON [edw_stage].[AccountTransactionVersion]
(
	[BrokerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersion_CoInsuredId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersion_CoInsuredId] ON [edw_stage].[AccountTransactionVersion]
(
	[CoInsuredId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
