/****** Object:  Table [edw_core].[tcollection_scheduled_item_detail]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcollection_scheduled_item_detail](
	[collection_scheduled_item_detail_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[policy_history_sk] [int] NULL,
	[collection_coverage_sk] [int] NULL,
	[item_desc] [nvarchar](max) NULL,
	[coverage_limit_amt] [int] NULL,
	[schedule_on_file_in] [varchar](255) NULL,
	[appraisal_dt] [date] NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcollection_scheduled_item_detail] PRIMARY KEY CLUSTERED 
(
	[collection_scheduled_item_detail_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
