/****** Object:  Table [edw_stage].[WorkTask]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[WorkTask](
	[Id] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](400) NULL,
	[AssignedUserId] [nvarchar](900) NULL,
	[WorkTaskState] [nvarchar](400) NULL,
	[Priority] [int] NOT NULL,
	[DueDate] [datetime2](7) NULL,
	[AbandonedReason] [nvarchar](4000) NULL,
	[IsClosed] [bit] NOT NULL,
	[InsuredId] [uniqueidentifier] NULL,
	[AccountId] [uniqueidentifier] NULL,
	[BrokerageId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[PreviousTaskId] [uniqueidentifier] NULL,
	[TaskName] [nvarchar](4000) NULL,
	[WorkflowId] [uniqueidentifier] NOT NULL,
	[WorkflowStepId] [uniqueidentifier] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WorkTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkTask_WorkflowId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_WorkTask_WorkflowId] ON [edw_stage].[WorkTask]
(
	[WorkflowId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkTask_WorkflowStepId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_WorkTask_WorkflowStepId] ON [edw_stage].[WorkTask]
(
	[WorkflowStepId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
