/****** Object:  Table [edw_stage].[AccountInvoiceLineItem]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountInvoiceLineItem](
	[Id] [int] NOT NULL,
	[AccountInvoiceId] [int] NOT NULL,
	[Amount] [decimal](16, 4) NOT NULL,
	[ReceivableAmount] [decimal](16, 4) NOT NULL,
	[PayableAmount] [decimal](16, 4) NOT NULL,
	[PayableToType] [nvarchar](200) NULL,
	[ReceivableFromType] [nvarchar](200) NULL,
	[NetAmount] [decimal](16, 4) NOT NULL,
	[Coverage] [nvarchar](1000) NULL,
	[AsLob] [nvarchar](40) NULL,
	[FinancialCoverageId] [nvarchar](40) NULL,
	[FinancialCoverageName] [nvarchar](1000) NULL,
	[Category] [nvarchar](400) NULL,
	[SubCategory] [nvarchar](1000) NULL,
	[Name] [nvarchar](1000) NULL,
	[CommissionAmount] [decimal](16, 4) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountInvoiceLineItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountInvoiceLineItem_AccountInvoiceId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountInvoiceLineItem_AccountInvoiceId] ON [edw_stage].[AccountInvoiceLineItem]
(
	[AccountInvoiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
