/****** Object:  Table [edw_stage].[BrokerOfRecordChange]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[BrokerOfRecordChange](
	[Id] [int] NOT NULL,
	[BrokerOfRecordChangeType] [nvarchar](400) NULL,
	[ProcessDate] [datetime2](7) NOT NULL,
	[OldBrokerageId] [uniqueidentifier] NOT NULL,
	[NewBrokerageId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_BrokerOfRecordChange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
