/****** Object:  Table [edw_stage].[tcustomer_temp1]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[tcustomer_temp1](
	[Id] [uniqueidentifier] NOT NULL,
	[NamedInsured] [nvarchar](3000) NULL,
	[Fein] [nvarchar](20) NULL,
	[Dba] [nvarchar](3000) NULL,
	[MailingAddressLine1] [nvarchar](500) NULL,
	[MailingAddressLine2] [nvarchar](500) NULL,
	[MailingAddressCity] [nvarchar](500) NULL,
	[MailingAddressState] [nvarchar](2) NULL,
	[MailingAddressZipCode] [nvarchar](6) NULL,
	[MailingAddressCountry] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[MailingAddressCounty] [nvarchar](500) NULL,
	[Email] [nvarchar](400) NULL,
	[FirstName] [nvarchar](500) NULL,
	[InsuredType] [nvarchar](50) NULL,
	[LastName] [nvarchar](500) NULL,
	[Phone] [nvarchar](20) NULL,
	[PreferredName] [nvarchar](500) NULL,
	[Prefix] [nvarchar](10) NULL,
	[Suffix] [nvarchar](10) NULL,
	[Title] [nvarchar](500) NULL,
	[BirthDate] [nvarchar](500) NULL,
	[MiddleName] [nvarchar](500) NULL,
	[Occupation] [nvarchar](400) NULL,
	[ReferenceCode] [int] NOT NULL,
	[ExternalSourceId] [nvarchar](2000) NULL,
	[IsVip] [bit] NOT NULL
) ON [PRIMARY]
GO
