/****** Object:  Table [edw_stage].[AccountInvoice]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountInvoice](
	[Id] [int] NOT NULL,
	[UniqueTransactionId] [nvarchar](510) NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[AccountTransactionId] [uniqueidentifier] NOT NULL,
	[BrokerageId] [uniqueidentifier] NOT NULL,
	[MasterInsuredId] [uniqueidentifier] NOT NULL,
	[TransactionType] [nvarchar](400) NULL,
	[AccountingEffectiveDate] [datetime2](7) NOT NULL,
	[TransactionEffectiveDate] [datetime2](7) NOT NULL,
	[EffectiveDate] [datetime2](7) NOT NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[RiskStateCode] [nvarchar](4) NULL,
	[TotalPremium] [decimal](16, 4) NOT NULL,
	[TotalReceivable] [decimal](16, 4) NOT NULL,
	[TotalPayable] [decimal](16, 4) NOT NULL,
	[CommissionPercent] [decimal](16, 4) NOT NULL,
	[CommissionAmount] [decimal](16, 4) NOT NULL,
	[TotalFees] [decimal](16, 4) NOT NULL,
	[TotalTaxes] [decimal](16, 4) NOT NULL,
	[Product] [nvarchar](400) NULL,
	[BrokerageCode] [nvarchar](400) NULL,
	[BrokerageName] [nvarchar](1000) NULL,
	[IsReversal] [bit] NOT NULL,
	[IsReversed] [bit] NOT NULL,
	[ReversalOfId] [int] NULL,
	[NumberOfInstallments] [int] NOT NULL,
	[DownPaymentAmount] [int] NOT NULL,
	[InvoiceDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[BillingAccountId] [uniqueidentifier] NULL,
	[BrokerageReferenceCode] [nvarchar](100) NULL,
	[ProductCode] [nvarchar](100) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountInvoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountInvoice_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountInvoice_AccountId] ON [edw_stage].[AccountInvoice]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountInvoice_AccountTransactionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountInvoice_AccountTransactionId] ON [edw_stage].[AccountInvoice]
(
	[AccountTransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountInvoice_BrokerageId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountInvoice_BrokerageId] ON [edw_stage].[AccountInvoice]
(
	[BrokerageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
