/****** Object:  Table [edw_stage].[t_clm_accident]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[t_clm_accident](
	[ACCIDENT_CODE] [varchar](20) NULL,
	[ACCIDENT_NAME] [varchar](200) NULL,
	[ACCIDENT_DESC] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
