/****** Object:  Table [edw_core].[tpolicy_insured]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpolicy_insured](
	[policy_insured_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NOT NULL,
	[effective_dt] [date] NOT NULL,
	[transaction_effective_dt] [date] NOT NULL,
	[transaction_seq_no] [int] NOT NULL,
	[transaction_dt] [date] NULL,
	[policy_history_sk] [int] NULL,
	[insured_nm] [varchar](255) NULL,
	[dba_nm] [varchar](255) NULL,
	[first_nm] [varchar](255) NULL,
	[middle_nm] [varchar](255) NULL,
	[last_nm] [varchar](255) NULL,
	[insured_type] [varchar](255) NULL,
	[insured_category_nm] [varchar](255) NULL,
	[birth_dt] [date] NULL,
	[mobile_phone_no] [varchar](255) NULL,
	[prefix] [varchar](255) NULL,
	[suffix] [varchar](255) NULL,
	[mailing_address_line_1] [varchar](255) NULL,
	[mailing_address_line_2] [varchar](255) NULL,
	[unit_no] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[county_nm] [varchar](255) NULL,
	[country_nm] [varchar](255) NULL,
	[include_on_dec_in] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[source_system_sk] [int] NOT NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tpolicy_insured] PRIMARY KEY CLUSTERED 
(
	[policy_insured_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
