/****** Object:  Table [edw_core].[tvalidation_result]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tvalidation_result](
	[validation_result_sk] [int] IDENTITY(1,1) NOT NULL,
	[validation_sql_sk] [int] NULL,
	[process_run_start_ts] [datetime] NULL,
	[process_run_end_ts] [datetime] NULL,
	[source_sql] [varchar](4000) NULL,
	[target_sql] [varchar](4000) NULL,
	[source_value] [decimal](15, 2) NULL,
	[target_value] [decimal](15, 2) NULL,
	[status_desc] [varchar](255) NULL,
 CONSTRAINT [pk_tvalidation_result] PRIMARY KEY CLUSTERED 
(
	[validation_result_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tvalidation_result]  WITH CHECK ADD  CONSTRAINT [fk_tvalidation_result_validation_sql_sk] FOREIGN KEY([validation_sql_sk])
REFERENCES [edw_core].[tvalidation_sql] ([validation_sql_sk])
GO
ALTER TABLE [edw_core].[tvalidation_result] CHECK CONSTRAINT [fk_tvalidation_result_validation_sql_sk]
GO
