/****** Object:  Table [edw_stage].[BrokerageCompanyTeamMember]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[BrokerageCompanyTeamMember](
	[Id] [int] NOT NULL,
	[BrokerageId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
	[State] [nvarchar](100) NULL,
	[ProgramType] [nvarchar](400) NULL,
	[BusinessType] [nvarchar](400) NULL,
	[TeamMemberType] [nvarchar](400) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EffectiveDate] [datetime2](7) NOT NULL,
	[IsExpired] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_BrokerageCompanyTeamMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrokerageCompanyTeamMember_BrokerageId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BrokerageCompanyTeamMember_BrokerageId] ON [edw_stage].[BrokerageCompanyTeamMember]
(
	[BrokerageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
