/****** Object:  Table [edw_core].[tcatastrophe]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tcatastrophe](
	[catastrophe_sk] [int] IDENTITY(1,1) NOT NULL,
	[catastrophe_cd] [varchar](255) NULL,
	[catastrophe_nm] [varchar](255) NULL,
	[catastrophe_desc] [nvarchar](max) NULL,
	[source_system_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tcatastrophe] PRIMARY KEY CLUSTERED 
(
	[catastrophe_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tcatastrophe_catastrophe_cd] UNIQUE NONCLUSTERED 
(
	[catastrophe_cd] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
