/****** Object:  Table [edw_stage].[ZipCode]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[ZipCode](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](12) NULL,
	[City] [nvarchar](1000) NULL,
	[County] [nvarchar](1000) NULL,
	[Country] [nvarchar](1000) NULL,
	[CountryCode] [nvarchar](1000) NULL,
	[StateCode] [nvarchar](1000) NULL,
	[StateName] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ZipCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
