/****** Object:  Table [edw_core].[tloss_history]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tloss_history](
	[loss_history_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_no] [varchar](255) NULL,
	[effective_dt] [date] NULL,
	[transaction_effective_dt] [date] NULL,
	[expiration_dt] [date] NULL,
	[transaction_dt] [date] NULL,
	[transaction_seq_no] [int] NULL,
	[policy_history_sk] [int] NULL,
	[loss_seq_no] [int] NULL,
	[claim_status] [varchar](255) NULL,
	[claimant_nm] [varchar](255) NULL,
	[file_no] [varchar](255) NULL,
	[loss_dt] [date] NULL,
	[loss_indentifier] [varchar](255) NULL,
	[type_of_loss] [varchar](255) NULL,
	[loss_desc] [varchar](255) NULL,
	[policy_type] [varchar](255) NULL,
	[cat_loss_in] [varchar](255) NULL,
	[disputed_in] [varchar](255) NULL,
	[loss_address_line_1] [varchar](255) NULL,
	[loss_address_line_2] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[coverage_desc] [varchar](255) NULL,
	[indemnity_reserve_amt] [decimal](15, 2) NULL,
	[expense_reserve_amt] [decimal](15, 2) NULL,
	[indemnity_paid_amt] [decimal](15, 2) NULL,
	[expense_paid_amt] [decimal](15, 2) NULL,
	[total_incurred_amt] [decimal](15, 2) NULL,
	[source_system_sk] [int] NOT NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tloss_history] PRIMARY KEY CLUSTERED 
(
	[loss_history_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
