/****** Object:  Table [edw_stage].[AccountPremiumRaterReference]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountPremiumRaterReference](
	[Id] [int] NOT NULL,
	[AccountPremiumId] [int] NOT NULL,
	[ProductInternalName] [nvarchar](1000) NULL,
	[RaterReferenceId] [nvarchar](1000) NULL,
	[RaterReferenceUrl] [nvarchar](4000) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Extension] [nvarchar](200) NULL,
 CONSTRAINT [PK_AccountPremiumRaterReference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountPremiumRaterReference_AccountPremiumId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountPremiumRaterReference_AccountPremiumId] ON [edw_stage].[AccountPremiumRaterReference]
(
	[AccountPremiumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
