/****** Object:  Table [edw_stage].[AccountTransactionVersionEligibilityQuestion]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionEligibilityQuestion](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionId] [int] NOT NULL,
	[Question] [nvarchar](4000) NULL,
	[Answer] [nvarchar](1000) NULL,
	[Parent] [nvarchar](4000) NULL,
	[ParentTriggerAnswer] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_AccountTransactionVersionEligibilityQuestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionEligibilityQuestion_AccountTransactionVersionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionEligibilityQuestion_AccountTransactionVersionId] ON [edw_stage].[AccountTransactionVersionEligibilityQuestion]
(
	[AccountTransactionVersionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
