/****** Object:  Table [edw_stage].[InsuredRelationship]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[InsuredRelationship](
	[Id] [uniqueidentifier] NOT NULL,
	[RelationInsuredId] [uniqueidentifier] NOT NULL,
	[RelatedInsuredId] [uniqueidentifier] NOT NULL,
	[RelationshipType] [nvarchar](300) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[IsCoInsured] [bit] NOT NULL,
 CONSTRAINT [PK_InsuredRelationship] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
