/****** Object:  Table [edw_stage].[AccountTransactionVersionPremiumTaxAndFee]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionPremiumTaxAndFee](
	[Id] [int] NOT NULL,
	[AccountTransactionVersionPremiumId] [int] NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Type] [nvarchar](200) NULL,
	[Amount] [decimal](16, 4) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[AppliesToPolicyChange] [bit] NOT NULL,
	[IsFullyEarned] [bit] NOT NULL,
 CONSTRAINT [PK_AccountTransactionVersionPremiumTaxAndFee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionPremiumTaxAndFee_AccountTransactionVersionPremiumId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionPremiumTaxAndFee_AccountTransactionVersionPremiumId] ON [edw_stage].[AccountTransactionVersionPremiumTaxAndFee]
(
	[AccountTransactionVersionPremiumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
