/****** Object:  Table [edw_stage].[Ofac]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Ofac](
	[AccountId] [uniqueidentifier] NOT NULL,
	[NamedInsured] [nvarchar](4000) NULL,
	[OfacResult] [bit] NOT NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[ResultDate] [datetime2](7) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Ofac] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
