/****** Object:  Table [edw_core].[tbroker]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tbroker](
	[broker_sk] [int] IDENTITY(1,1) NOT NULL,
	[broker_id] [varchar](255) NOT NULL,
	[broker_nm] [varchar](255) NULL,
	[dba_nm] [varchar](255) NULL,
	[fein] [varchar](255) NULL,
	[address_line_1] [varchar](255) NULL,
	[address_line_2] [varchar](255) NULL,
	[city_nm] [varchar](255) NULL,
	[state_cd] [varchar](255) NULL,
	[zip_cd] [varchar](255) NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tbroker] PRIMARY KEY CLUSTERED 
(
	[broker_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uidx_tbroker_broker_id] UNIQUE NONCLUSTERED 
(
	[broker_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
