/****** Object:  Table [edw_stage].[AccountTransactionTaxAndFee]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionTaxAndFee](
	[Id] [int] NOT NULL,
	[AccountTransactionId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](16, 4) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Type] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[AppliesToPolicyChange] [bit] NOT NULL,
	[AmountDeltaProRated] [decimal](16, 4) NULL,
	[IsFullyEarned] [bit] NOT NULL,
	[AmountDelta] [decimal](16, 4) NULL,
 CONSTRAINT [PK_AccountTransactionTaxAndFee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionTaxAndFee_AccountTransactionId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionTaxAndFee_AccountTransactionId] ON [edw_stage].[AccountTransactionTaxAndFee]
(
	[AccountTransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
