/****** Object:  Table [edw_stage].[tprocedures]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[tprocedures](
	[procedure_sk] [int] IDENTITY(1,1) NOT NULL,
	[product_datamart_sk] [int] NULL,
	[procedure_nm] [varchar](100) NULL,
	[run_order] [int] NULL
) ON [PRIMARY]
GO
