/****** Object:  Table [edw_stage].[ControlLoadTable]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[ControlLoadTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceObjectSettings] [nvarchar](max) NULL,
	[SourceConnectionSettingsName] [nvarchar](max) NULL,
	[CopySourceSettings] [nvarchar](max) NULL,
	[SinkObjectSettings] [nvarchar](max) NULL,
	[SinkConnectionSettingsName] [nvarchar](max) NULL,
	[CopySinkSettings] [nvarchar](max) NULL,
	[CopyActivitySettings] [nvarchar](max) NULL,
	[TopLevelPipelineName] [nvarchar](max) NULL,
	[TriggerName] [nvarchar](max) NULL,
	[DataLoadingBehaviorSettings] [nvarchar](max) NULL,
	[LastExecution] [nvarchar](max) NULL,
	[TaskId] [int] NULL,
	[CopyEnabled] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
