/****** Object:  Table [edw_stage].[tdaily_batch]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[tdaily_batch](
	[batch_sk] [int] IDENTITY(1,1) NOT NULL,
	[run_dt] [datetime] NULL,
	[status] [varchar](100) NULL,
	[product_datamart_sk] [int] NULL,
	[procedure_sk] [int] NULL
) ON [PRIMARY]
GO
