/****** Object:  Table [edw_core].[tdaily_inforce_policy]    Script Date: 19/07/2023 8:26:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tdaily_inforce_policy](
	[inforce_dt_sk] [int] NOT NULL,
	[policy_sk] [int] NOT NULL,
	[customer_sk] [int] NOT NULL,
	[broker_sk] [int] NOT NULL,
	[product_sk] [int] NOT NULL,
	[premium_amt] [decimal](15, 2) NULL,
	[net_premium_amt] [decimal](15, 2) NULL,
	[annual_premium_amt] [decimal](15, 2) NULL,
	[source_system_sk] [int] NOT NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tdaily_inforce_policy] PRIMARY KEY CLUSTERED 
(
	[inforce_dt_sk] ASC,
	[policy_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy]  WITH CHECK ADD  CONSTRAINT [fk_tdip_tbroker_broker_sk] FOREIGN KEY([broker_sk])
REFERENCES [edw_core].[tbroker] ([broker_sk])
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy] CHECK CONSTRAINT [fk_tdip_tbroker_broker_sk]
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy]  WITH CHECK ADD  CONSTRAINT [fk_tdip_tcustomer_customer_sk] FOREIGN KEY([customer_sk])
REFERENCES [edw_core].[tcustomer] ([customer_sk])
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy] CHECK CONSTRAINT [fk_tdip_tcustomer_customer_sk]
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy]  WITH CHECK ADD  CONSTRAINT [fk_tdip_tpolicy_policy_sk] FOREIGN KEY([policy_sk])
REFERENCES [edw_core].[tpolicy] ([policy_sk])
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy] CHECK CONSTRAINT [fk_tdip_tpolicy_policy_sk]
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy]  WITH CHECK ADD  CONSTRAINT [fk_tdip_tproduct_product_sk] FOREIGN KEY([product_sk])
REFERENCES [edw_core].[tproduct] ([product_sk])
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy] CHECK CONSTRAINT [fk_tdip_tproduct_product_sk]
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy]  WITH CHECK ADD  CONSTRAINT [fk_tdip_tsource_system_source_system_sk] FOREIGN KEY([source_system_sk])
REFERENCES [edw_core].[tsource_system] ([source_system_sk])
GO
ALTER TABLE [edw_core].[tdaily_inforce_policy] CHECK CONSTRAINT [fk_tdip_tsource_system_source_system_sk]
GO
