/****** Object:  Table [edw_stage].[Document]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Document](
	[Id] [uniqueidentifier] NOT NULL,
	[Extension] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[DocumentTypeId] [int] NOT NULL,
	[OriginalBlobIdentifier] [nvarchar](1000) NULL,
	[IsOcrCompleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsDeletedByUserId] [uniqueidentifier] NULL,
	[IsDeletedOn] [datetime2](7) NULL,
	[IsExternallyShared] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[UploadedByUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_DocumentTypeId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Document_DocumentTypeId] ON [edw_stage].[Document]
(
	[DocumentTypeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
