/****** Object:  Table [edw_stage].[AccountTransactionVersionObjectField]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountTransactionVersionObjectField](
	[Id] [int] NOT NULL,
	[VersionObjectId] [int] NOT NULL,
	[Label] [nvarchar](400) NULL,
	[Field] [nvarchar](400) NULL,
	[Value] [nvarchar](4000) NULL,
	[DataType] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Group] [nvarchar](400) NULL,
	[IsEncrypted] [bit] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[ParentField] [nvarchar](480) NULL,
	[ParentFieldTriggerValues] [nvarchar](4000) NULL,
	[Index] [int] NOT NULL,
	[IsHidden] [bit] NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[IsDisabled] [bit] NOT NULL,
	[IsPostBindDisable] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[IgnorePolicyChangeTracking] [bit] NOT NULL,
	[IsOverrideByUser] [bit] NOT NULL,
	[OverrideByUserId] [uniqueidentifier] NULL,
	[ReferenceObjectId] [int] NULL,
	[ReferenceObjectType] [nvarchar](400) NULL,
 CONSTRAINT [PK_AccountTransactionVersionObjectField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionObjectField_ReferenceObjectId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionObjectField_ReferenceObjectId] ON [edw_stage].[AccountTransactionVersionObjectField]
(
	[ReferenceObjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTransactionVersionObjectField_VersionObjectId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountTransactionVersionObjectField_VersionObjectId] ON [edw_stage].[AccountTransactionVersionObjectField]
(
	[VersionObjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
