/****** Object:  Table [edw_stage].[Product]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Product](
	[Id] [uniqueidentifier] NOT NULL,
	[InternalName] [nvarchar](1000) NULL,
	[Name] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsEnabled] [bit] NOT NULL,
	[ProductLine] [nvarchar](400) NULL,
	[RateDefinitionServiceName] [nvarchar](1000) NULL,
	[RulesDefinitionServiceName] [nvarchar](1000) NULL,
	[FormDefinitionServiceName] [nvarchar](1000) NULL,
	[ExternalUserCanBind] [bit] NOT NULL,
	[ExternalUserCanOffer] [bit] NOT NULL,
	[RoundPremiumToNearestDollar] [bit] NOT NULL,
	[CanBillToBrokerage] [bit] NOT NULL,
	[CanBillToInsured] [bit] NOT NULL,
	[CanBillToMortgagee] [bit] NOT NULL,
	[ProductCode] [nvarchar](20) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[IncrementPolicyNumberOnRenewal] [bit] NOT NULL,
	[GeneratePolicyNumberOnCreation] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
