/****** Object:  Table [edw_stage].[AccountBillingPreference]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountBillingPreference](
	[Id] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[BillToType] [nvarchar](4000) NULL,
	[IsFinanced] [bit] NOT NULL,
	[FinanceCompanyName] [nvarchar](4000) NULL,
	[BillToMortgageeId] [int] NULL,
	[PaymentPlan] [nvarchar](4000) NULL,
	[ContactType] [nvarchar](4000) NULL,
	[ContactInfoIsInsured] [bit] NOT NULL,
	[ContactEntityName] [nvarchar](4000) NULL,
	[ContactPrefix] [nvarchar](4000) NULL,
	[ContactFirstName] [nvarchar](4000) NULL,
	[ContactMiddleName] [nvarchar](4000) NULL,
	[ContactLastName] [nvarchar](4000) NULL,
	[ContactSuffix] [nvarchar](4000) NULL,
	[ContactPhone] [nvarchar](4000) NULL,
	[ContactEmail] [nvarchar](4000) NULL,
	[BillingAddressIsMailingAddress] [bit] NOT NULL,
	[BillingAddressLine1] [nvarchar](1000) NULL,
	[BillingAddressLine2] [nvarchar](1000) NULL,
	[BillingAddressCity] [nvarchar](1000) NULL,
	[BillingAddressState] [nvarchar](1000) NULL,
	[BillingAddressZipCode] [nvarchar](1000) NULL,
	[BillingAddressCounty] [nvarchar](1000) NULL,
	[BillingAddressCountry] [nvarchar](1000) NULL,
	[BillingAccountId] [uniqueidentifier] NULL,
	[BillToBrokerageId] [uniqueidentifier] NULL,
	[IsNewBillingAccount] [bit] NOT NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AccountBillingPreference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountBillingPreference_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountBillingPreference_AccountId] ON [edw_stage].[AccountBillingPreference]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
