/****** Object:  Table [edw_stage].[AccountReport]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[AccountReport](
	[Id] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[DateOrdered] [datetime2](7) NOT NULL,
	[DateTimeRecieved] [datetime2](7) NOT NULL,
	[DateTimeCompleted] [datetime2](7) NOT NULL,
	[ReportType] [nvarchar](400) NULL,
	[Reference] [nvarchar](4000) NULL,
	[TransactionReferenceId] [nvarchar](4000) NULL,
	[RequestRaw] [nvarchar](max) NULL,
	[ResponseRaw] [nvarchar](max) NULL,
	[TransactionStatus] [nvarchar](4000) NULL,
	[Source] [nvarchar](4000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ReferenceUrl] [nvarchar](4000) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[AutoOrder] [bit] NOT NULL,
 CONSTRAINT [PK_AccountReport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountReport_AccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AccountReport_AccountId] ON [edw_stage].[AccountReport]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
