/****** Object:  Table [edw_stage].[Account]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_stage].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[MasterInsuredId] [uniqueidentifier] NULL,
	[UnderwriterUserId] [uniqueidentifier] NULL,
	[BrokerageId] [uniqueidentifier] NULL,
	[BrokerId] [uniqueidentifier] NULL,
	[Stage] [nvarchar](400) NULL,
	[State] [nvarchar](400) NULL,
	[ReferralState] [nvarchar](400) NULL,
	[IsPolicyChange] [bit] NOT NULL,
	[IsRenewal] [bit] NOT NULL,
	[MustClear] [bit] NOT NULL,
	[Number] [int] NOT NULL,
	[PolicyNumber] [nvarchar](50) NULL,
	[RenewalOfPolicyNumber] [nvarchar](50) NULL,
	[EffectiveDate] [datetime2](7) NULL,
	[ExpirationDate] [datetime2](7) NULL,
	[TransactionEffectiveDate] [datetime2](7) NULL,
	[RateDate] [datetime2](7) NULL,
	[MinimumEarnedPremiumPercent] [int] NOT NULL,
	[IsCreatingFromOcr] [bit] NOT NULL,
	[MustRate] [bit] NOT NULL,
	[ChangeOccuredSinceLastTransaction] [bit] NOT NULL,
	[RiskStateCode] [nvarchar](4) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[FailedClearance] [bit] NOT NULL,
	[RateServiceName] [nvarchar](1000) NULL,
	[RuleServiceName] [nvarchar](1000) NULL,
	[RiskStateCodeSet] [bit] NOT NULL,
	[RulesReferenceUrl] [nvarchar](4000) NULL,
	[FormReferenceUrl] [nvarchar](4000) NULL,
	[FormServiceName] [nvarchar](1000) NULL,
	[CoInsuredId] [uniqueidentifier] NULL,
	[NewBrokerId] [uniqueidentifier] NULL,
	[NewBrokerageId] [uniqueidentifier] NULL,
	[NotificationBrokerId] [uniqueidentifier] NULL,
	[RelatedAccountsId] [uniqueidentifier] NOT NULL,
	[CopyOfAccountId] [uniqueidentifier] NULL,
	[CloseReasonType] [nvarchar](400) NULL,
	[RoundPremiumToNearestDollar] [bit] NOT NULL,
	[BillingAccountId] [uniqueidentifier] NULL,
	[IsReviseBinder] [bit] NOT NULL,
	[ExternalSourceGroupId] [nvarchar](1000) NULL,
	[ExternalSourceId] [nvarchar](4000) NULL,
	[NonRenewalState] [nvarchar](400) NULL,
	[InitialRenewalOfPolicyNumber] [nvarchar](50) NULL,
	[IsRenewed] [bit] NOT NULL,
	[RenewalIndex] [int] NOT NULL,
	[BillToType] [nvarchar](400) NULL,
	[RenewalStatus] [nvarchar](400) NULL,
	[RenewalAccountId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_BrokerageId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Account_BrokerageId] ON [edw_stage].[Account]
(
	[BrokerageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_BrokerId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Account_BrokerId] ON [edw_stage].[Account]
(
	[BrokerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_CoInsuredId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Account_CoInsuredId] ON [edw_stage].[Account]
(
	[CoInsuredId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_RenewalAccountId]    Script Date: 19/07/2023 8:26:17 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Account_RenewalAccountId] ON [edw_stage].[Account]
(
	[RenewalAccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
