/****** Object:  Table [edw_core].[tpolicy_transaction]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edw_core].[tpolicy_transaction](
	[policy_transaction_sk] [int] IDENTITY(1,1) NOT NULL,
	[policy_sk] [int] NOT NULL,
	[effective_dt_sk] [int] NOT NULL,
	[expiration_dt_sk] [int] NOT NULL,
	[transaction_effective_dt_sk] [int] NOT NULL,
	[transaction_seq_no] [int] NOT NULL,
	[broker_sk] [int] NOT NULL,
	[customer_sk] [int] NOT NULL,
	[premium_amt] [decimal](15, 2) NULL,
	[net_premium_amt] [decimal](15, 2) NULL,
	[commission_amt] [decimal](15, 2) NULL,
	[annual_premium_amt] [decimal](15, 2) NULL,
	[tax_fee_surcharge_amt] [decimal](15, 2) NULL,
	[item_sk] [int] NULL,
	[coverage_sk] [int] NULL,
	[vehicle_coverage_sk] [int] NULL,
	[transaction_dt_sk] [int] NOT NULL,
	[calendar_month_sk] [int] NOT NULL,
	[accouting_month_sk] [int] NOT NULL,
	[product_sk] [int] NOT NULL,
	[policy_transaction_type_sk] [int] NOT NULL,
	[internal_coverage_sk] [int] NULL,
	[source_system_sk] [int] NOT NULL,
	[policy_status_sk] [int] NOT NULL,
	[tax_fee_surcharge_sk] [int] NULL,
	[user_sk] [int] NULL,
	[create_ts] [datetime] NULL,
	[update_ts] [datetime] NULL,
	[etl_audit_sk] [int] NULL,
 CONSTRAINT [pk_tpolicy_transaction] PRIMARY KEY CLUSTERED 
(
	[policy_transaction_sk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edw_core].[tpolicy_transaction]  WITH CHECK ADD  CONSTRAINT [fk_tbroker_broker_sk] FOREIGN KEY([broker_sk])
REFERENCES [edw_core].[tbroker] ([broker_sk])
GO
ALTER TABLE [edw_core].[tpolicy_transaction] CHECK CONSTRAINT [fk_tbroker_broker_sk]
GO
ALTER TABLE [edw_core].[tpolicy_transaction]  WITH CHECK ADD  CONSTRAINT [fk_tcustomer_customer_sk] FOREIGN KEY([customer_sk])
REFERENCES [edw_core].[tcustomer] ([customer_sk])
GO
ALTER TABLE [edw_core].[tpolicy_transaction] CHECK CONSTRAINT [fk_tcustomer_customer_sk]
GO
ALTER TABLE [edw_core].[tpolicy_transaction]  WITH CHECK ADD  CONSTRAINT [fk_tpolicy_policy_sk] FOREIGN KEY([policy_sk])
REFERENCES [edw_core].[tpolicy] ([policy_sk])
GO
ALTER TABLE [edw_core].[tpolicy_transaction] CHECK CONSTRAINT [fk_tpolicy_policy_sk]
GO
ALTER TABLE [edw_core].[tpolicy_transaction]  WITH CHECK ADD  CONSTRAINT [fk_tproduct_product_sk] FOREIGN KEY([product_sk])
REFERENCES [edw_core].[tproduct] ([product_sk])
GO
ALTER TABLE [edw_core].[tpolicy_transaction] CHECK CONSTRAINT [fk_tproduct_product_sk]
GO
ALTER TABLE [edw_core].[tpolicy_transaction]  WITH CHECK ADD  CONSTRAINT [fk_tsource_system_source_system_sk] FOREIGN KEY([source_system_sk])
REFERENCES [edw_core].[tsource_system] ([source_system_sk])
GO
ALTER TABLE [edw_core].[tpolicy_transaction] CHECK CONSTRAINT [fk_tsource_system_source_system_sk]
GO
