/****** Object:  StoredProcedure [edw_core].[sp_upd_tetl_control]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yunus Mohammed
-- Create Date: <Create Date, , >
-- Description: This procedures updates control table
-- =============================================
CREATE PROCEDURE [edw_core].[sp_upd_tetl_control]
@process_nm varchar(255),
@new_last_source_extract_ts DATETIME
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	IF EXISTS (SELECT 1 FROM [edw_core].[tetl_control] WHERE process_nm=@process_nm)
	BEGIN
		UPDATE [edw_core].[tetl_control]
		SET
			[last_source_extract_ts]=@new_last_source_extract_ts,
			[update_ts]=GETDATE()
		WHERE process_nm=@process_nm
	END
	ELSE
	BEGIN
		INSERT INTO  [edw_core].[tetl_control]
		([process_nm],[last_source_extract_ts],[update_ts])
		SELECT @process_nm AS [process_nm],@new_last_source_extract_ts AS [last_source_extract_ts],GETDATE() AS [update_ts]
	END
END
GO
