/****** Object:  StoredProcedure [edw_stage].[UpdateWatermarkColumnValue_1i1]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object: StoredProcedure [edw_stage].[UpdateWatermarkColumnValue_1i1] ******/
            CREATE PROCEDURE [edw_stage].[UpdateWatermarkColumnValue_1i1]
                @watermarkColumnStartValue nvarchar(max),
                @Id [int]
            AS
                UPDATE [edw_stage].[ControlLoadTable]
                SET [DataLoadingBehaviorSettings]=JSON_MODIFY([DataLoadingBehaviorSettings],'$.watermarkColumnStartValue', @watermarkColumnStartValue) WHERE Id = @Id
GO
