/****** Object:  StoredProcedure [edw_core].[sp_restart_batch]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Yunus Mohammed
-- Create Date: <Create Date, , >
-- Description: 
-- =============================================
CREATE PROCEDURE [edw_core].[sp_restart_batch]
@batch_sk int
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
  	DROP TABLE IF EXISTS edw_temp.tdaily_batch_temp1
	SELECT * INTO edw_temp.tdaily_batch_temp1 FROM edw_stage.tdaily_batch WHERE batch_sk=@batch_sk and [status]='Failed'
	DECLARE @product_datamart_sk int,@product_datamart_nm varchar(100)
	DECLARE @procedure_sk INT, @procedure_nm VARCHAR(255)

	DECLARE cur_main CURSOR FOR
	SELECT
	pd.product_datamart_sk,
	pd.product_datamart_nm,sp.procedure_nm
	FROM
	edw_stage.tproduct_datamart pd
	INNER JOIN edw_stage.tprocedures sp on pd.product_datamart_sk=sp.product_datamart_sk
	INNER JOIN edw_temp.tdaily_batch_temp1 tmp ON pd.product_datamart_sk=tmp.product_datamart_sk AND sp.procedure_sk=tmp.procedure_sk		
	ORDER BY 
	pd.run_order,sp.run_order

	OPEN cur_main
	FETCH NEXT FROM cur_main INTO @product_datamart_sk,@product_datamart_nm,@procedure_nm,@batch_sk

	WHILE @@FETCH_STATUS = 0
    BEGIN
		
		BEGIN TRY
				EXECUTE @procedure_nm
			END TRY
			BEGIN CATCH
				-- Update edw_stage.tdaily_batch table status
				UPDATE edw_stage.tdaily_batch SET [status]='Failed',procedure_sk=@procedure_sk WHERE batch_sk=@batch_sk
				CLOSE cur_procedure
				DEALLOCATE cur_procedure
				RETURN
			END CATCH
		
			-- Update edw_stage.tdaily_batch table status
		UPDATE edw_stage.tdaily_batch SET [status]='Success' WHERE batch_sk=@batch_sk
       	FETCH NEXT FROM cur_main INTO @product_datamart_sk,@product_datamart_nm,@procedure_nm,@batch_sk

    END
	
	CLOSE cur_main;

	DEALLOCATE cur_main;

END
GO
