/****** Object:  StoredProcedure [edw_core].[sp_thome_coverage]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Yunus Mohammed
-- Create Date: <Create Date, , >
-- Description: This procedures insert homeowners coverage data
-- =============================================
CREATE PROCEDURE [edw_core].[sp_thome_coverage]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	BEGIN TRY
		DECLARE @last_source_extract_ts DATETIME2(7)
		DECLARE @etl_audit_sk INT
		DECLARE @new_last_source_extract_ts DATETIME2(7)
		DECLARE @rows_affected INT
		DECLARE @process_nm VARCHAR(255)=OBJECT_NAME(@@PROCID)
		DECLARE @current_date DATETIME=GETDATE()
		DECLARE @parameter_desc VARCHAR(255)
		-- Get last source extract date
		SELECT @last_source_extract_ts = edw_core.fn_get_last_source_extract_ts(@process_nm);
		EXEC edw_core.sp_ins_tetl_audit @process_nm,@current_date,@etl_audit_sk=@etl_audit_sk OUTPUT;
		SET @parameter_desc= 'last_source_extract_ts >' + CAST(@last_source_extract_ts AS VARCHAR(200))
		-- Get column names to pivot
		DECLARE @ColumnsToPivot NVARCHAR(MAX)=''

		SELECT
				@ColumnsToPivot+=QUOTENAME(Field) + ','
		FROM
		(
			SELECT DISTINCT
			pd.[Name],pdo.ObjectType,pdof.Field,pdof.[Group]
			FROM
			edw_stage.Product pd
			INNER JOIN edw_stage.[ProductObject] pdo on pd.Id=pdo.ProductId
			INNER JOIN edw_stage.[ProductObjectField] pdof on pdo.Id=pdof.ProductObjectId
			WHERE
			pd.[Name]='Homeowners'
			AND pdo.ObjectType='Homeowner'

		) as temp

		-- remove last comma
		SET @ColumnsToPivot = LEFT(@ColumnsToPivot, LEN(@ColumnsToPivot) - 1);

		declare @sql nvarchar(max)
		drop table if exists edw_temp.thome_coverage_temp1
		SET @sql ='select PolicyNumber,EffectiveDate,ExpirationDate,TransactionEffectiveDate,transactiondate,transaction_seq_no,source_system_sk,
		IssuedDate,policy_history_sk,home_location_sk,
		'+ @ColumnsToPivot +' into edw_temp.thome_coverage_temp1
			from
			(
			select
			act.PolicyNumber ,act.EffectiveDate ,act.ExpirationDate ,act.TransactionEffectiveDate ,
			tph.policy_history_sk,thl.home_location_sk,
			act.policychangenumber as transaction_seq_no, act.IssuedDate as transactiondate,act.IssuedDate,
			CASE WHEN act.ExternalSourceId IS NOT NULL THEN 2 ELSE 4 END source_system_sk,atvof.Field,atvof.[Value]
			from
				edw_stage.AccountTransaction act
				inner join edw_stage.Product p on p.Id=act.ProductId
				inner join edw_stage.AccountTransactionVersion atv on act.Id=atv.AccountTransactionId
				inner join edw_stage.AccountTransactionVersionObject atvo on atv.Id=atvo.AccountTransactionVersionId
				inner join edw_stage.AccountTransactionVersionObjectField atvof on atvo.Id=atvof.VersionObjectId
				left join edw_core.tpolicy_history tph on tph.policy_no=act.PolicyNumber
						and tph.effective_dt=act.EffectiveDate
						and tph.transaction_seq_no = act.policychangenumber
				left join edw_core.thome_location thl on thl.policy_no=act.PolicyNumber
						and thl.effective_dt=act.EffectiveDate
				left join edw_stage.Product pr on act.ProductId = pr.id
			where
				act.PolicyNumber is not null and
				act.[State] =''ISSUED''
				and atvo.ObjectType=''Homeowner''
				and pr.ProductLine = ''PersonalLines''
				and act.IssuedDate > @last_source_extract_ts
			) as t
			pivot 
			(
				max(Value) FOR Field IN ('+ @ColumnsToPivot +')
			) as pivottable
			'
			EXECUTE sp_executesql @sql, N'@last_source_extract_ts datetime2(7)', @last_source_extract_ts = @last_source_extract_ts
		
			INSERT INTO [edw_core].[thome_coverage]
			(
				policy_no,effective_dt,expiration_dt,transaction_effective_dt,transaction_dt,transaction_seq_no,
				home_location_sk,policy_history_sk,dwelling_limit_amt,other_structures_limit_amt,contents_limit_amt,
				loss_of_use_limit_amt,loss_of_use_option,
				personal_liability_limit_amt,medical_payments_limit_amt,exclude_inflation_factor_in,aop_deductible,hurricane_deductible,
				water_deductible,wildfire_deductible,wind_deductible,no_of_mortgagees,prior_claim_last5yr_in,
				prior_nonwater_claim_ct,prior_water_claim_ct, distance_to_coast,
				distance_to_fire_hydrant_feet,distance_to_fire_station_miles,fire_protection,occupancy_type,protection_class,earthquake_zone,
				terrain_cd,windborne_debris_region_in,windpool_eligibility_in,sinkhole_risk_level,sinkhole_distance_to_nearest_miles,
				total_finished_square_feet,construction_type,basement_type,active_renovation,renovation_anticipated_completion_dt,
				ulstandard,unit_floor,built_year,electrical_updated_year,hvac_updated_year,	plumbing_updated_year,roof_updated_year,
				no_of_stories,shear_wave_velocity,barn_on_property_in,barn_value_amt,bceg_cd,windspeed_of_design,
				hail_resistant_rating_in, hurricane_fortification_in,
				mmi,swimming_pool_in,wildfire_threat,hazard_severity,
				distance_to_very_high_fuel_feet,distance_to_high_fuel_feet,distance_to_moderate_fuel_feet,
				no_of_wildfire_occurrences,no_of_wildfire_near_occurrences,nearest_distance_to_perimeter,
				combustible_wood_siding_in,combustible_deck_or_attached_structure_in,firewood_or_combustibles_stored_against_home_in,
				defensible_space_in,woodshake_or_shingle_roof_in,speciality_ember_resistant_venting_in,
				exterior_wildfire_sprinklers_in,eaves_or_enclosed_eaves_in,permanently_installed_spray_system_in,
				portable_fire_break_system_in,gutter_guards_in,bark_mulch_within_ten_feet_of_any_structure_in,
				flammable_vegetation_within_ten_feet_of_any_structure_in,opening_protection,
				roof_cover_deck,roof_covering,roof_deck_attachment,roof_geometry,roof_system_in,
				roof_wall_attachment,solar_feature_desc,secondary_water_resistance,
				source_system_sk,create_ts,update_ts,etl_audit_sk
			)
			SELECT
				tthc.PolicyNumber AS policy_no,tthc.EffectiveDate AS effective_dt,tthc.ExpirationDate AS expiration_dt,
				tthc.TransactionEffectiveDate AS transaction_effective_dt,tthc.transactiondate AS transaction_dt,
				tthc.transaction_seq_no AS transaction_seq_no,tthc.home_location_sk AS home_location_sk,policy_history_sk,
				tthc.CoverageA AS dwelling_limit_amt,tthc.CoverageB AS other_structures_limit_amt,tthc.CoverageC AS contents_limit_amt,
				tthc.CoverageD AS loss_of_use_limit_amt,CoverageDOption AS loss_of_use_option,tthc.CoverageE AS personal_liability_limit_amt,
				REPLACE(REPLACE(tthc.CoverageF,'$',''),',','') AS medical_payments_limit_amt,
				tthc.ExcludeInflationFactor AS exclude_inflation_factor_in,tthc.AopDeductible AS aop_deductible,
				tthc.HurricaneDeductible AS hurricane_deductible,tthc.WaterDeductible AS water_deductible,
				tthc.WildfireDeductible AS wildfire_deductible,tthc.WindDeductible AS wind_deductible,tthc.NumberOfMortgagees AS no_of_mortgagees,
				tthc.PriorClaims AS prior_claim_last5yr_in,tthc.PriorNonWaterClaims AS prior_nonwater_claim_ct,
				tthc.PriorWaterClaims AS prior_water_claim_ct,
				tthc.DistanceToCoast AS distance_to_coast,
				tthc.DistanceToHydrantFeet AS distance_to_fire_hydrant_feet,
				tthc.DistanceToStationMiles AS distance_to_fire_station_miles,
				tthc.FireProtection AS fire_protection ,tthc.Occupancy AS occupancy_type,
				tthc.ProtectionClass AS protection_class,
				tthc.EarthquakeZone AS earthquake_zone,tthc.Terrain AS terrain_cd,
				tthc.WindBorneDebrisRegion AS windborne_debris_region_in,
				tthc.WindPoolEligibility AS windpool_eligibility_in,
				tthc.SinkholeRiskLevel AS sinkhole_risk_level,
				tthc.SinkHoleDistanceToNearestMiles AS sinkhole_distance_to_nearest_miles,
				tthc.SquareFootage,tthc.constructionType AS construction_type,
				tthc.BasementType AS basement_type,tthc.ActiveRenovation AS active_renovation,
				tthc.ActiveRenovationAnticipatedCompletionDate AS renovation_anticipated_completion_dt,
				tthc.ULStandard AS ulstandard,tthc.UnitFloor AS unit_floor,tthc.YearBuilt AS built_year,
				tthc.YearElectricalUpdated AS electrical_updated_year,tthc.YearHvacUpdated AS [hvac_updated_year],
				tthc.YearPlumbingUpdated AS plumbing_updated_year,
				tthc.YearRoofUpdated AS roof_updated_year,tthc.NumberOfStories AS no_of_stories,
				tthc.ShearWaveVelocity AS shear_wave_velocity,
				tthc.BarnOnProperty AS barn_on_property_in,tthc.BarnValue AS barn_value_amt,
				tthc.BCEG AS bceg_cd,tthc.WindSpeedOfDesign AS windspeed_of_design,
				tthc.HailResistantRating AS hail_resistant_rating_in,
				tthc.HurricaneFortification AS hurricane_fortification_in,
				tthc.MMI,tthc.SwimmingPool AS swimming_pool_in,
				tthc.WildfireThreat AS wildfire_threat,tthc.WildfireHazardSeverity AS hazard_severity,
				tthc.WildfireDistanceToVeryHighFuelFeet AS distance_to_very_high_fuel_feet,
				tthc.WildfireDistanceToHighFuelFeet AS distance_to_high_fuel_feet,
				tthc.WildfireDistanceToModerateFuelFeet AS distance_to_moderate_fuel_feet,
				tthc.WildfireNumberOfOccurrences AS no_of_wildfire_occurrences,
				tthc.WildfireNumberOfOccurrencesNear AS no_of_wildfire_near_occurrences,
				tthc.WildfireNearestDistanceToPerimeter AS nearest_distance_to_perimeter,
				tthc.WildfireCombustibleWoodSiding AS combustible_wood_siding_in,
				tthc.WildfireCombustibleDeckOrAttachedStructure AS combustible_deck_or_attached_structure_in,
				tthc.WildfireFireWoodOrCombustiblesStoredAgainstHome AS firewood_or_combustibles_stored_against_home_in,
				tthc.WildfireDefensibleSpace AS defensible_space_in,
				tthc.WildfireWoodShakeOrShingleRoof AS woodshake_or_shingle_roof_in,
				tthc.WildfireSpecialityEmberResistantVenting AS speciality_ember_resistant_venting_in,
				tthc.WildfireExteriorWildfireSprinklers AS exterior_wildfire_sprinklers_in,
				tthc.WildfireEavesorEnclosedEaves AS eaves_or_enclosed_eaves_in,
				tthc.WildfirePermanentlyInstalledSpraySystem AS permanently_installed_spray_system_in,
				tthc.WildfirePortableFireBreakSystem AS portable_fire_break_system_in,
				tthc.WildfireGutterGuards AS gutter_guards_in,
				tthc.WildfireBarkMulchWithinTenFeetofAnyStructure AS bark_mulch_within_ten_feet_of_any_structure_in,
				tthc.WildfireFlammableVegetationWithinTenFeetofAnyStructure AS flammable_vegetation_within_ten_feet_of_any_structure_in,
				tthc.OpeningProtection AS opening_protection,
				tthc.RoofCoverDeck AS roof_cover_deck,
				tthc.RoofCovering AS roof_covering,
				tthc.RoofDeckAttachment AS roof_deck_attachment,
				tthc.RoofGeometry AS roof_geometry,
				tthc.RoofSystem AS roof_system_in,
				tthc.RoofWallAttachment AS roof_wall_attachment,
				tthc.SolarPanels AS solar_feature_desc,
				tthc.SecondaryWaterResistance AS secondary_water_resistance,
				source_system_sk,getdate() AS create_ts,getdate() AS update_ts,@etl_audit_sk AS etl_audit_sk
			FROM
				edw_temp.thome_coverage_temp1 AS tthc

			SET @rows_affected=@@ROWCOUNT;

			-- Update control table
			SET @new_last_source_extract_ts=COALESCE((SELECT MAX(IssuedDate) FROM edw_temp.thome_coverage_temp1),@last_source_extract_ts);	
			EXEC edw_core.sp_upd_tetl_control @process_nm,@new_last_source_extract_ts;
			-- Update audit table
			SET @parameter_desc= @parameter_desc + ' AND last_source_extract_ts <=' + CAST(@new_last_source_extract_ts AS VARCHAR(200))
			EXEC edw_core.sp_upd_tetl_audit @etl_audit_sk,@rows_affected,@parameter_desc;

			-- Drop temp table
			DROP TABLE IF EXISTS edw_temp.thome_coverage_temp1
	END TRY
	BEGIN CATCH
		DECLARE @error_message nvarchar(4000)
		SET @error_message = 'Error Number:' + ISNULL(CAST(ERROR_NUMBER() AS NVARCHAR(100)),'') + 
						' Error State:' + ISNULL(CAST(ERROR_STATE() AS NVARCHAR(100)),'')
							+ ' Error Severity:' + ISNULL(CAST(ERROR_SEVERITY() AS NVARCHAR(100)),'') +
							CHAR(13) + 'Error Procedure:' + ISNULL(ERROR_PROCEDURE(),'') + ' Error Line:' + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(100)),'') +
							CHAR(13) + 'Error Message:' + ISNULL(ERROR_MESSAGE(),'')
	
		EXEC [edw_core].[sp_upd_error_tetl_audit] @etl_audit_sk,@error_message;
		THROW 99001,'Error occured: see tetl_audit table for more info', 1;
	END CATCH
END
GO
