/****** Object:  StoredProcedure [edw_core].[sp_tpolicy]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================
-- Author:		Hernando Gonzalez Garcia
-- Modified by:	Architha Gudimalla
-- Modified Date: 06/2/2016
-- Description: This procedures inserts and updates TPolicy 
-- Changes:
-- 06/02/23 --> 1. Created this procedure
-- 06/29/23 --> 2. Made changes to fix the errors on first run
-- ========================================================================= 


CREATE PROCEDURE [edw_core].[sp_tpolicy]

AS
BEGIN
    DECLARE @ProcedureName NVARCHAR(120)
    SET @ProcedureName = OBJECT_NAME(@@PROCID)
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	BEGIN TRY
		DECLARE @last_source_extract_ts DATETIME
		DECLARE @etl_audit_sk INT
		DECLARE @new_last_source_extract_ts DATETIME
		DECLARE @rows_affected INT
		DECLARE @process_nm VARCHAR(255)=@ProcedureName
		DECLARE @CU DATETIME=GETDATE()
		-- Get last source extract date
		SELECT @last_source_extract_ts = edw_core.fn_get_last_source_extract_ts(@process_nm);
		EXEC edw_core.sp_ins_tetl_audit @process_nm,@CU,@etl_audit_sk=@etl_audit_sk OUTPUT;
	
		DECLARE @parameter_desc VARCHAR(255)
		SET @parameter_desc= 'last_source_extract_ts >' + CAST(@last_source_extract_ts AS VARCHAR(200))

		-- Step1 limit amount of rows.
		DROP TABLE IF EXISTS edw_temp.tpolicy_temp1;
		WITH cte_AccountTransaction AS (
			SELECT  
				acct.*,
				case when acct.ExternalSourceId is not NULL 
					 then 2 --(AV2) 
					 Else 4 --(Metal)
				end ssk
				,ROW_NUMBER() OVER (PARTITION BY acct.PolicyNumber, acct.EffectiveDate 
						ORDER BY acct.policychangenumber DESC) AS AccountTransaction_Rank
			FROM edw_stage.AccountTransaction acct
		    left join edw_stage.Product pr on acct.ProductId = pr.id
			WHERE PolicyNumber is not null and  
				acct.State ='ISSUED' --- Review BOUND transactions 
				and pr.ProductLine = 'PersonalLines' 
				AND GREATEST(acct.IssuedDate)>@last_source_extract_ts
		)
		SELECT cte_Acc.*
		INTO edw_temp.tpolicy_temp1
		FROM cte_AccountTransaction cte_Acc
		WHERE cte_Acc.AccountTransaction_Rank = 1

		-- Pivot Table
		DROP TABLE IF EXISTS edw_temp.tpolicy_temp2;
		SELECT	AccountTransactionId,  
				nullif(trim(NamedInsured),'') NamedInsured, 
				nullif(trim(CompanyName),'') CompanyName, 
				nullif(trim(MailingAddressLine1),'') MailingAddressLine1, 
				nullif(trim(MailingAddressLine2),'') MailingAddressLine2, 
				nullif(trim(UnitFloor),'') UnitFloor, 
				nullif(trim(MailingAddressCity),'') MailingAddressCity, 
				nullif(trim(MailingAddressState),'') MailingAddressState, 
				nullif(trim(MailingAddressZipCode),'') MailingAddressZipCode, 
				nullif(trim(Program),'') Program
		INTO edw_temp.tpolicy_temp2
		FROM
			(
				SELECT  acctv.AccountTransactionId, 
						acctvof.Field, 
						acctvof.Value
				FROM edw_temp.tpolicy_temp1 acc
					INNER JOIN edw_stage.AccountTransactionVersion acctv ON acctv.AccountTransactionId = acc.Id --acctv.AccountTransactionId = acc.Id
					INNER JOIN edw_stage.AccountTransactionVersionObject acctvo ON acctvo.AccountTransactionVersionId = acctv.Id
					INNER JOIN edw_stage.AccountTransactionVersionObjectField acctvof ON acctvof.VersionObjectId = acctvo.id
				WHERE COALESCE(LTRIM(RTRIM(acctvof.Field)), '''') != '''' --and acc.policynumber = 'HO100024581' 
			) t
		PIVOT 
			(
				MAX(Value) FOR Field IN (NamedInsured, CompanyName, MailingAddressLine1, MailingAddressLine2, UnitFloor, MailingAddressCity, MailingAddressState, MailingAddressZipCode, Program)
			) pivottable
			 

		-- Start Merge process
		MERGE edw_core.tpolicy AS Target
		USING (
			SELECT 
				acctv.PolicyNumber,
				tmp1.EffectiveDate,
				tmp1.ExpirationDate, 
				br.producerid as BrokerId,
				ins.ReferenceCode as customer_id,
				nullif(trim(pr.ProductCode),'') product_cd,
				nullif(trim(COALESCE(acctv.RiskStateCode, 'DNA')),'') as RiskStateCode, --review
				tmp2.NamedInsured as insured_nm,
				NULL as policy_term,
				case when tmp2.program = 'Admitted' then 'Vault Reciprocal Exchange' 
				     when tmp2.program = 'Non-Admitted' then 'Vault E & S Insurance Company' 
				     else null
				end as uw_company_nm,
				--tmp2.CompanyName as uw_company_nm,
				tmp2.program,
				tmp1.State,
				tmp1.TransactionEffectiveDate,
				tmp2.MailingAddressLine1,
				tmp2.MailingAddressLine2,
				tmp2.UnitFloor,
				tmp2.MailingAddressCity,
				tmp2.MailingAddressState,
				tmp2.MailingAddressZipCode, 
				tmp1.ssk as source_system_sk,
				tmp1.CreatedDate,
				tmp1.UpdatedDate --select *
			FROM 
				edw_temp.tpolicy_temp1 tmp1
				INNER JOIN edw_stage.AccountTransactionVersion acctv ON acctv.AccountTransactionId = tmp1.Id
				--inner join edw_stage.Account acc on tmp1.AccountId = acc.Id
				left join edw_stage.Brokerage br on acctv.BrokerageId = br.id
				left join edw_stage.Insured ins on acctv.MasterInsuredId = ins.Id
				left join edw_stage.Product pr on tmp1.ProductId = pr.id
				left join edw_temp.tpolicy_temp2 tmp2 on tmp2.AccountTransactionId = tmp1.Id
				where pr.productline <> 'CommercialLines' --and tmp1.policynumber = 'CO100023657' 
		) AS Source
		ON Source.PolicyNumber = Target.policy_no and cast(Source.EffectiveDate as date) = cast(Target.effective_dt as date)
		-- For Inserts
		WHEN NOT MATCHED BY Target THEN
		INSERT (
			policy_no
           ,effective_dt
           ,expiration_dt
           ,broker_id
           ,customer_id
           ,product_cd
           ,risk_state_cd
           ,insured_nm
           ,policy_term
		   ,program_type
           ,uw_company_nm
           ,policy_status -- ** This is not the state (Active or Canceled)
           ,original_policy_effective_dt
           ,mailing_address_line1
           ,mailing_address_line2
           ,unit_no
           ,city_nm
           ,state_cd
           ,zip_cd
           ,source_system_sk
           ,create_ts
           ,update_ts
           ,etl_audit_sk
			)
		VALUES (Source.PolicyNumber,
				Source.EffectiveDate, Source.ExpirationDate, Source.BrokerId, Source.customer_id, 
				Source.product_cd,
				Source.RiskStateCode,
				Source.insured_nm,
				Source.policy_term,
				Source.program,
				Source.uw_company_nm, 
				'Active', 
				Source.TransactionEffectiveDate, 
				Source.MailingAddressLine1, 
				Source.MailingAddressLine2, 
				Source.UnitFloor, 
				Source.MailingAddressCity,
				Source.MailingAddressState, 
				Source.MailingAddressZipCode, 
				Source.source_system_sk, 
				getdate(), getdate(), @etl_audit_sk)
		-- For Updates
		WHEN MATCHED THEN UPDATE 
		SET
        Target.broker_id				= Source.BrokerId,
        Target.customer_id				= Source.customer_id,
        Target.risk_state_cd			= Source.RiskStateCode,
        Target.insured_nm				= Source.insured_nm,
        Target.program_type				= Source.program,
        Target.uw_company_nm			= Source.uw_company_nm,
        Target.mailing_address_line1	= Source.MailingAddressLine1,
        Target.mailing_address_line2	= Source.MailingAddressLine2,
        Target.unit_no					= Source.UnitFloor,
        Target.city_nm					= Source.MailingAddressCity,
        Target.state_cd					= Source.MailingAddressState,
		Target.zip_cd					= Source.MailingAddressZipCode,
        Target.update_ts 				= getdate()
		;

		SET @rows_affected=@@ROWCOUNT;

		update edw_core.tpolicy
		set policy_status = 'Expired'
		where expiration_dt <= cast(getdate() as date);

		SET @new_last_source_extract_ts=(SELECT MAX(GREATEST(t2.CreatedDate)) FROM edw_temp.tpolicy_temp1 t2);

        DROP TABLE IF EXISTS edw_temp.tpolicy_temp1;
		DROP TABLE IF EXISTS edw_temp.tpolicy_temp2;
		
		-- Update control table
		EXEC edw_core.sp_upd_tetl_control @process_nm,@new_last_source_extract_ts;
		print @etl_audit_sk

		-- Update audit table
		SET @parameter_desc= @parameter_desc + ' AND last_source_extract_ts <=' + CAST(@new_last_source_extract_ts AS VARCHAR(200))
		EXEC edw_core.sp_upd_tetl_audit @etl_audit_sk,@rows_affected,@parameter_desc; 

	END TRY
	BEGIN CATCH
		DECLARE @error_message nvarchar(4000)
		SET @error_message = 'Error Number:' + ISNULL(CAST(ERROR_NUMBER() AS NVARCHAR(100)),'') + 
						     ' Error State:' + ISNULL(CAST(ERROR_STATE() AS NVARCHAR(100)),'')  + 
						  ' Error Severity:' + ISNULL(CAST(ERROR_SEVERITY() AS NVARCHAR(100)),'') + CHAR(13) + 
					      'Error Procedure:' + ISNULL(ERROR_PROCEDURE(),'') + 
						      ' Error Line:' + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(100)),'') + CHAR(13) + 
						    'Error Message:' + ISNULL(ERROR_MESSAGE(),'')
	
		EXEC edw_core.sp_upd_error_tetl_audit @etl_audit_sk,@error_message;
		THROW 99001,'Error occured: see tetl_audit table for more info', 1;
	END CATCH
END
GO
