/****** Object:  StoredProcedure [edw_core].[sp_execute_procedure]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Yunus Mohammed
-- Create Date: <Create Date, , >
-- Description: 
-- =============================================
CREATE PROCEDURE [edw_core].[sp_execute_procedure]
@product_datamart_sk int,
@batch_sk int
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON	

	DECLARE @procedure_sk INT, @procedure_nm VARCHAR(255),@procedure_run_order int

	DECLARE cur_procedure CURSOR FOR
	SELECT
		sp.procedure_sk,sp.procedure_nm,sp.run_order
	FROM
		edw_stage.tprocedures sp
	WHERE
		sp.product_datamart_sk=@product_datamart_sk
	ORDER BY sp.run_order

	OPEN cur_procedure
	FETCH NEXT FROM cur_procedure INTO @procedure_sk,@procedure_nm,@procedure_run_order
	WHILE @@FETCH_STATUS = 0 
		BEGIN
			BEGIN TRY
				EXECUTE @procedure_nm
			END TRY
			BEGIN CATCH
				-- Update edw_stage.tdaily_batch table status
				UPDATE edw_stage.tdaily_batch SET [status]='Failed',procedure_sk=@procedure_sk WHERE batch_sk=@batch_sk
				CLOSE cur_procedure
				DEALLOCATE cur_procedure
				RETURN
			END CATCH
			FETCH NEXT FROM cur_procedure INTO @procedure_nm,@procedure_run_order
		END
	CLOSE cur_procedure;

	DEALLOCATE cur_procedure;

	-- Update edw_stage.tdaily_batch table status
	UPDATE edw_stage.tdaily_batch SET [status]='Success' WHERE batch_sk=@batch_sk
	
END
GO
