/****** Object:  StoredProcedure [edw_core].[sp_upd_error_tetl_audit]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yunus Mohammed
-- Create Date: <Create Date, , >
-- Description: This procedures updates audit table
-- =============================================
CREATE PROCEDURE [edw_core].[sp_upd_error_tetl_audit]
@etl_audit_sk int,
@error_message_desc nvarchar(4000)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	UPDATE [edw_core].[tetl_audit]
	SET
		error_message_desc=@error_message_desc,
		status_desc='Failure'
	WHERE etl_audit_sk=@etl_audit_sk
END
GO
