/****** Object:  StoredProcedure [edw_core].[sp_main_procedure]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Yunus Mohammed
-- Create Date: <Create Date, , >
-- Description: 
-- =============================================
CREATE PROCEDURE [edw_core].[sp_main_procedure]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @product_datamart_sk int,@product_datamart_nm varchar(100),@run_order int

	DECLARE cur_main CURSOR FOR
	SELECT pd.product_datamart_sk,pd.product_datamart_nm,pd.run_order
	FROM
	edw_stage.tproduct_datamart pd;

	declare @sk table
	(
	  product_datamart_sk int
	)
	declare @batch_sk int

	OPEN cur_main
	FETCH NEXT FROM cur_main INTO @product_datamart_sk,@product_datamart_nm,@run_order

	WHILE @@FETCH_STATUS = 0
    BEGIN
		INSERT INTO edw_stage.tdaily_batch
		(run_dt,product_datamart_sk)
		OUTPUT inserted.product_datamart_sk INTO @sk
		SELECT getdate() as run_dt,@product_datamart_sk as product_datamart_sk

		SELECT @batch_sk = product_datamart_sk FROM @sk
		
		DELETE FROM @sk
		
		-- PRINT @product_datamart_sk
		EXEC [edw_core].[sp_execute_procedure] @product_datamart_sk,@batch_sk
        FETCH NEXT FROM cur_main INTO @product_datamart_sk,@product_datamart_nm,@run_order
    END
	
CLOSE cur_main;

DEALLOCATE cur_main;

END
GO
