/****** Object:  StoredProcedure [edw_core].[sp_tinternal_coverage]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [edw_core].[sp_tinternal_coverage]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	BEGIN TRY
		DECLARE @last_source_extract_ts DATETIME
		DECLARE @etl_audit_sk INT
		DECLARE @new_last_source_extract_ts DATETIME
		DECLARE @rows_affected INT
		DECLARE @process_nm VARCHAR(255)=OBJECT_NAME(@@PROCID)
		DECLARE @current_date DATETIME=GETDATE()
		DECLARE @parameter_desc VARCHAR(255)

		-- Get last source extract date
		SELECT @last_source_extract_ts = edw_core.fn_get_last_source_extract_ts(@process_nm); 
		EXEC edw_core.sp_ins_tetl_audit @process_nm,@current_date,@etl_audit_sk=@etl_audit_sk OUTPUT;
		SET @parameter_desc= 'last_source_extract_ts >' + CAST(@last_source_extract_ts AS VARCHAR(200))

		-- Create temp table with name as tinternal_coverage_temp1
		DROP TABLE IF EXISTS edw_temp.tinternal_coverage_temp1 ;

		SELECT	nullif(trim(atcp.label),'') internal_coverage_cd,
				p.ProductCode  as product_cd, 
				nullif(trim(c.Aslob),'') as aslob_cd,
				max(atcp.CreatedDate)  as CreatedDate,
				max(atcp.UpdatedDate) as  UpdatedDate
 		INTO edw_temp.tinternal_coverage_temp1
		FROM edw_stage.AccountTransactionCoveragePremium atcp
		inner join edw_stage.Coverage c on atcp.Coverage =c.name
		inner join edw_stage.ProductCoverages pc on c.Id=pc.CoveragesId
		inner join edw_stage.Product p on p.Id=pc.ProductsId
		WHERE	nullif(label,'') IS NOT NULL 
		and		GREATEST(atcp.CreatedDate,c.UpdatedDate)>@last_source_extract_ts
		GROUP BY atcp.label, p.ProductCode, atcp.label, c.Aslob;
			
		-- Insert and Update tinternal_coverage table
		MERGE edw_core.tinternal_coverage AS Target
		USING edw_temp.tinternal_coverage_temp1 AS Source
		ON Source.internal_coverage_cd = Target.internal_coverage_cd AND Source.product_cd = Target.product_cd
		-- For Inserts
		WHEN NOT MATCHED BY Target THEN
		INSERT (
				internal_coverage_cd,product_cd,internal_coverage_desc,aslob_cd ,create_ts,update_ts
			)
		VALUES
			(
				Source.internal_coverage_cd,Source.product_cd,Source.internal_coverage_cd,Source.aslob_cd ,GETDATE(),GETDATE()
			)
		-- For Updates
		WHEN MATCHED THEN UPDATE 
		SET Target.internal_coverage_desc	= Source.internal_coverage_cd,
			Target.aslob_cd	= Source.aslob_cd,
			Target.update_ts=GETDATE();

		SET @rows_affected=@@ROWCOUNT;
		
		-- Update control table
		SET @new_last_source_extract_ts=COALESCE((SELECT MAX(GREATEST(ct.CreatedDate,ct.UpdatedDate)) FROM edw_temp.tinternal_coverage_temp1 ct),@last_source_extract_ts) 
		EXEC edw_core.sp_upd_tetl_control @process_nm,@new_last_source_extract_ts

		-- Update audit table
		SET @parameter_desc= @parameter_desc + ' AND last_source_extract_ts <=' + CAST(@new_last_source_extract_ts AS VARCHAR(200))
		EXEC edw_core.sp_upd_tetl_audit @etl_audit_sk,@rows_affected,@parameter_desc;
		
		-- Drop temp table
		DROP TABLE IF EXISTS edw_temp.tinternal_coverage_temp1
	END TRY
	BEGIN CATCH
		DECLARE @error_message nvarchar(4000)
		SET @error_message = 'Error Number:' + ISNULL(CAST(ERROR_NUMBER() AS NVARCHAR(100)),'') + 
						     ' Error State:' + ISNULL(CAST(ERROR_STATE() AS NVARCHAR(100)),'')  + 
						  ' Error Severity:' + ISNULL(CAST(ERROR_SEVERITY() AS NVARCHAR(100)),'') + CHAR(13) + 
					      'Error Procedure:' + ISNULL(ERROR_PROCEDURE(),'') + 
						      ' Error Line:' + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(100)),'') + CHAR(13) + 
						    'Error Message:' + ISNULL(ERROR_MESSAGE(),'')
	
		EXEC edw_core.sp_upd_error_tetl_audit @etl_audit_sk,@error_message;
		THROW 99001,'Error occured: see tetl_audit table for more info', 1;
	END CATCH
END;
GO
