/****** Object:  StoredProcedure [edw_core].[sp_tcustomer_summary]    Script Date: 19/07/2023 8:26:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================
-- Author:      Architha Gudimalla
-- Create Date: 06/22/2023
-- Description: This proceudre summarizes the customer data for each month
-- =======================================================================
CREATE PROCEDURE [edw_core].[sp_tcustomer_summary]
(
	@yearmonth INT
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON 

	BEGIN TRY
		DECLARE @last_source_extract_ts DATETIME
		DECLARE @etl_audit_sk INT
		DECLARE @new_last_source_extract_ts DATETIME
		DECLARE @rows_affected INT
		DECLARE @process_nm VARCHAR(255)=OBJECT_NAME(@@PROCID)
		DECLARE @current_date DATETIME=GETDATE() 
		-- Get last source extract date
		SELECT @last_source_extract_ts = edw_core.fn_get_last_source_extract_ts(@process_nm);
		EXEC edw_core.sp_ins_tetl_audit @process_nm,@current_date,@etl_audit_sk=@etl_audit_sk OUTPUT; 
	
		DECLARE @parameter_desc VARCHAR(255)
		SET @parameter_desc= 'last_source_extract_ts >' + CAST(@last_source_extract_ts AS VARCHAR(200))
	
		DECLARE @month_end_dt_sk INT 
		DECLARE @month_end_dt date 
		 
		select 	@month_end_dt_sk = max(datE_sk), @month_end_dt = max(actual_dt)
		from edw_core.tdate
		where yearmonth = @yearmonth; 

		delete from edw_core.tcustomer_summary
		where month_sk = @month_end_dt_sk;
	
		with prm as
		(
		 SELECT customer_sk, source_system_sk,
				sum(inforce_ct) total_inforce_ct,
				count(distinct summ.product_sk) total_line_ct,
		 		sum(inforce_premium_amt) total_premium_amt,
		 		sum(annual_premium_amt) total_annual_premium_amt, 
		 		sum(iif(pr.product_desc='Homeowners',inforce_premium_amt,0)) homeowners_premium_amt,
		 		sum(iif(pr.product_desc='Collections',inforce_premium_amt,0)) collections_premium_amt,
		 		sum(iif(pr.product_desc='Auto',inforce_premium_amt,0)) auto_premium_amt,
		 		sum(iif(pr.product_desc='Excess Liability',inforce_premium_amt,0)) excess_liability_premium_amt, 
		 		sum(iif(pr.product_desc='Condo',inforce_premium_amt,0)) condo_premium_amt 
		 FROM edw_core.tpolicy_summary summ, edw_core.tproduct pr 
		 where month_sk = @month_end_dt_sk 
		 and pr.product_sk = summ.product_sk
		 group by customer_sk, source_system_sk
		)
		INSERT INTO edw_core.tcustomer_summary
			( 
				month_sk, customer_sk, 
				total_premium_amt, total_annual_premium_amt, total_inforce_ct, total_line_ct, 
				homeowners_premium_amt, collections_premium_amt, auto_premium_amt, excess_liability_premium_amt, condo_premium_amt,
				update_ts, etl_audit_sk
	        )
	    select 	@month_end_dt_sk, prm.customer_sk,
		 		total_premium_amt, total_annual_premium_amt, total_inforce_ct, total_line_ct  , 
		 		homeowners_premium_amt, collections_premium_amt, auto_premium_amt, excess_liability_premium_amt, condo_premium_amt,
				getdate(), @etl_audit_sk
		from prm 
		where total_premium_amt > 0;
       
		SET @rows_affected=@@ROWCOUNT;

		SET @new_last_source_extract_ts=@month_end_dt;	
		EXEC edw_core.sp_upd_tetl_control @process_nm,@new_last_source_extract_ts;

		-- Update audit table
		SET @parameter_desc= @parameter_desc + ' AND last_source_extract_ts <=' + CAST(@new_last_source_extract_ts AS VARCHAR(200))
		EXEC edw_core.sp_upd_tetl_audit @etl_audit_sk,@rows_affected,@parameter_desc; 

	END TRY
	BEGIN CATCH
		DECLARE @error_message nvarchar(4000)
		SET @error_message = 'Error Number:' + ISNULL(CAST(ERROR_NUMBER() AS NVARCHAR(100)),'') + 
						     ' Error State:' + ISNULL(CAST(ERROR_STATE() AS NVARCHAR(100)),'')  + 
						  ' Error Severity:' + ISNULL(CAST(ERROR_SEVERITY() AS NVARCHAR(100)),'') + CHAR(13) + 
					      'Error Procedure:' + ISNULL(ERROR_PROCEDURE(),'') + 
						      ' Error Line:' + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(100)),'') + CHAR(13) + 
						    'Error Message:' + ISNULL(ERROR_MESSAGE(),'')
	
		EXEC edw_core.sp_upd_error_tetl_audit @etl_audit_sk,@error_message;
		THROW 99001,'Error occured: see tetl_audit table for more info', 1;
	END CATCH

END
GO
