/****** Object:  StoredProcedure [edw_core].[sp_master_procedure]    Script Date: 8/16/2023 12:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [edw_core].[sp_master_procedure]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	exec edw_core.sp_tbroker
	exec edw_core.sp_tcustomer
	exec edw_core.sp_users
	exec edw_core.sp_tinternal_coverage
	exec edw_core.sp_ttax_fee_surcharge


	exec edw_core.sp_tpolicy
	exec edw_core.sp_tpolicy_history


	-- Home procedures start here
	exec edw_core.sp_thome_location
	exec edw_core.sp_thome_coverage
	exec edw_core.sp_tmortgagee
	exec edw_core.sp_thome_additional_coverage

	-- Collection procedures starts here

	exec edw_core.sp_tcollection_location
	exec edw_core.sp_tcollection_additional_coverage
	exec edw_core.sp_tcollection_coverage
	exec edw_core.sp_tcollection_scheduled_item_detail

	-- PEL procedures start here
	exec [edw_core].sp_tpel_location
	exec [edw_core].sp_tpel_driver
	exec [edw_core].sp_tpel_driver_incident
	exec [edw_core].sp_tpel_vehicle
	exec edw_core.sp_tpel_watercraft
	exec edw_core.sp_tpel_coverage

	exec edw_core.sp_tpolicy_transaction
	exec edw_core.sp_tdaily_inforce_policy
    exec edw_core.sp_tpolicy_summary
	exec edw_core.sp_titem_summary
	exec edw_core.sp_tcustomer_summary
END
GO
