/****** Object:  StoredProcedure [edw_core].[sp_master_procedure_cpy]    Script Date: 8/16/2023 12:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================================================================================
-- Author:		Architha Gudimalla			
-- Description: This procedures runs the master seqeunce
---------------------------------------------------------------------------------------------------
-- Change date |Author						|	Change Description
---------------------------------------------------------------------------------------------------
-- 07/20/23		Architha Gudimalla				1. Created this procedure 
-- ================================================================================================= 

CREATE OR ALTER PROCEDURE [edw_core].[sp_master_procedure_cpy]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
    
    delete from edw_core.tcustomer_summary
	delete from edw_core.tinternal_coverage_inforce
	delete from edw_core.tinternal_coverage_summary
	delete from edw_core.titem_inforce
	delete from edw_core.titem_summary
	delete from edw_core.tpolicy_summary
	delete from edw_core.tdaily_inforce_policy
	delete from edw_core.tpolicy_transaction
	delete from edw_core.tpolicy_history
	delete from edw_core.tpolicy
	delete from edw_core.tcustomer
	delete from edw_core.tinternal_coverage
	delete from edw_core.ttax_fee_surcharge
	delete from edw_core.tuser 

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tbroker'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jan-2023' as datetime)
	where process_nm = 'sp_tcustomer'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tinternal_coverage'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_ttax_fee_surcharge'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_users' 
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpolicy' 
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpolicy_history'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpolicy_transaction'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tdaily_inforce_policy' 
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpolicy_summary'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_titem_inforce'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_titem_summary'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tinternal_coverage_inforce'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tinternal_coverage_summary'
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jan-2023' as datetime)
	where process_nm = 'sp_tcustomer_summary'

	exec edw_core.sp_tbroker
	exec edw_core.sp_tcustomer
	exec edw_core.sp_users
	exec edw_core.sp_tinternal_coverage
	exec edw_core.sp_ttax_fee_surcharge 

	exec edw_core.sp_tpolicy
	exec edw_core.sp_tpolicy_history

    
	delete from edw_core.thome_additional_coverage 
	delete from edw_core.tmortgagee  
	delete from edw_core.thome_coverage   
	delete from edw_core.thome_location  
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_thome_location'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_thome_coverage'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tmortgagee'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_thome_additional_coverage'
	
	-- Home procedures start here
	exec edw_core.sp_thome_location
	exec edw_core.sp_thome_coverage
	exec edw_core.sp_tmortgagee
	exec edw_core.sp_thome_additional_coverage
    
	delete from edw_core.tcollection_additional_coverage 
	delete from edw_core.tcollection_scheduled_item_detail  
	delete from edw_core.tcollection_coverage   
	delete from edw_core.tcollection_location  
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tcollection_location'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tcollection_additional_coverage'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tcollection_coverage'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tcollection_scheduled_item_detail' 

	-- Collection procedures starts here

	exec edw_core.sp_tcollection_location
	exec edw_core.sp_tcollection_additional_coverage
	exec edw_core.sp_tcollection_coverage
	exec edw_core.sp_tcollection_scheduled_item_detail
    
	delete from edw_core.tpel_coverage 
	delete from edw_core.tpel_watercraft  
	delete from edw_core.tpel_vehicle   
	delete from edw_core.tpel_driver_incident  
	delete from edw_core.tpel_driver   
	delete from edw_core.tpel_location  
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpel_coverage'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpel_watercraft'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpel_vehicle'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpel_driver_incident' 

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpel_driver'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpel_location' 

	-- PEL procedures start here
	exec edw_core.sp_tpel_location
	exec edw_core.sp_tpel_driver
	exec edw_core.sp_tpel_driver_incident
	exec edw_core.sp_tpel_vehicle
	exec edw_core.sp_tpel_watercraft
	exec edw_core.sp_tpel_coverage 
    
	delete from edw_core.tpolicy_transaction 
	delete from edw_core.tdaily_inforce_policy  
	delete from edw_core.tpolicy_summary   
	delete from edw_core.tcustomer_summary  
	delete from edw_core.titem_inforce   
	delete from edw_core.titem_summary  
	delete from edw_core.tinternal_coverage_inforce   
	delete from edw_core.tinternal_coverage_summary  
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpolicy_transaction'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tdaily_inforce_policy' 
	
	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tpolicy_summary'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tcustomer_summary'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_titem_inforce'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_titem_summary' 

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tinternal_coverage_inforce'

	update edw_core.tetl_control
	set last_source_extract_ts = cast('01-jul-2023' as datetime)
	where process_nm = 'sp_tinternal_coverage_summary' 

	exec edw_core.sp_tpolicy_transaction
	exec edw_core.sp_tdaily_inforce_policy
    exec edw_core.sp_tpolicy_summary
	exec edw_core.sp_tcustomer_summary
	exec edw_core.sp_titem_inforce
	exec edw_core.sp_titem_summary
	exec edw_core.sp_tinternal_coverage_inforce
	exec edw_core.sp_tinternal_coverage_summary
END
GO
