/****** Object:  StoredProcedure [edw_core].[sp_tbroker]    Script Date: 8/16/2023 12:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================================================================================
-- Author:		Yunus Mohammed
-- Description: This procedures insert and update broker data 
---------------------------------------------------------------------------------------------------
-- Change date |Author						|	Change Description
---------------------------------------------------------------------------------------------------
-- 06/02/23		Yunus Mohammed					1. Created this procedure 
-- 06/29/23		Architha Gudimalla				2. Made changes to fix the errors on first run
-- ================================================================================================= 

CREATE OR ALTER PROCEDURE [edw_core].[sp_tbroker]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	BEGIN TRY
		DECLARE @last_source_extract_ts DATETIME2(7)
		DECLARE @etl_audit_sk INT
		DECLARE @new_last_source_extract_ts DATETIME2(7)
		DECLARE @rows_affected INT
		DECLARE @process_nm VARCHAR(255)=OBJECT_NAME(@@PROCID)
		DECLARE @current_date DATETIME=GETDATE()
		DECLARE @parameter_desc VARCHAR(255)

		-- Get last source extract date
		SELECT @last_source_extract_ts = edw_core.fn_get_last_source_extract_ts(@process_nm);
		EXEC edw_core.sp_ins_tetl_audit @process_nm,@current_date,@etl_audit_sk=@etl_audit_sk OUTPUT;
		SET @parameter_desc= 'last_source_extract_ts >' + CAST(@last_source_extract_ts AS VARCHAR(200)) 

		-- Create temp table with name as sp_broker_temp
		DROP TABLE IF EXISTS edw_temp.tbroker_temp1

		SELECT brk.ProducerId as brokerid,
				nullif(trim(brk.[Name]),'') AS brokerName,
				nullif(trim(brk.Dba),'') AS Dba,
				--nullif(trim(brk.Fein),'') Fein,
				nullif(trim(brk.AddressLine1),'') AddressLine1,
				nullif(trim(brk.AddressLine2),'') AddressLine2,
				nullif(trim(brk.AddressCity),'') AddressCity,
				nullif(trim(brk.AddressState),'') AddressState,
				nullif(trim(brk.AddressZipCode),'') AddressZipCode,
				brk.CreatedDate,
				brk.UpdatedDate 
		INTO edw_temp.tbroker_temp1
		FROM
			edw_stage.Brokerage brk
		WHERE
			GREATEST(brk.CreatedDate,brk.UpdatedDate)>@last_source_extract_ts

		-- Insert and Update tuser table
		MERGE [edw_core].[tbroker] AS Target
		USING edw_temp.tbroker_temp1 AS Source
		ON Source.[brokerid] = Target.[broker_id]
		-- For Inserts
		WHEN NOT MATCHED BY Target THEN
		INSERT (
				[broker_id],[broker_nm],[dba_nm],--[fein],
				[address_line_1],[address_line_2],
				[city_nm],[state_cd],[zip_cd],[create_ts],[update_ts],[etl_audit_sk]
			)
		VALUES
			(
				Source.brokerid,Source.BrokerName,Source.Dba,--Source.Fein,
				Source.AddressLine1,Source.AddressLine2,Source.AddressCity,Source.AddressState,
				Source.AddressZipCode,getdate(),getdate(),@etl_audit_sk
			)
		-- For Updates
		WHEN MATCHED THEN UPDATE 
		SET
        Target.broker_nm		= Source.BrokerName,
        Target.[dba_nm]			= Source.Dba,
		--Target.[fein]			= Source.Fein,
		Target.[address_line_1]	= Source.AddressLine1,
		Target.[address_line_2]	= Source.AddressLine2,
		Target.[city_nm]		= Source.AddressCity,
		Target.[state_cd]		= Source.AddressState,
		Target.[zip_cd]			= Source.AddressZipCode,
		Target.[update_ts]		= getdate();
		
		SET @rows_affected=@@ROWCOUNT;

		-- Update control table
		SET @new_last_source_extract_ts=COALESCE((SELECT MAX(GREATEST(br.CreatedDate,br.UpdatedDate)) FROM edw_temp.tbroker_temp1 br),@last_source_extract_ts)
		EXEC edw_core.sp_upd_tetl_control @process_nm,@new_last_source_extract_ts
		
		-- Update audit table
		SET @parameter_desc= @parameter_desc + ' AND last_source_extract_ts <=' + CAST(@new_last_source_extract_ts AS VARCHAR(200))
		EXEC edw_core.sp_upd_tetl_audit @etl_audit_sk,@rows_affected,@parameter_desc;

		-- Drop temp table
		DROP TABLE IF EXISTS edw_temp.tbroker_temp1
	END TRY
	BEGIN CATCH
		DECLARE @error_message nvarchar(4000)
		SET @error_message = 'Error Number:' + ISNULL(CAST(ERROR_NUMBER() AS NVARCHAR(100)),'') + 
						     ' Error State:' + ISNULL(CAST(ERROR_STATE() AS NVARCHAR(100)),'')  + 
						  ' Error Severity:' + ISNULL(CAST(ERROR_SEVERITY() AS NVARCHAR(100)),'') + CHAR(13) + 
					      'Error Procedure:' + ISNULL(ERROR_PROCEDURE(),'') + 
						      ' Error Line:' + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(100)),'') + CHAR(13) + 
						    'Error Message:' + ISNULL(ERROR_MESSAGE(),'')
	
		EXEC edw_core.sp_upd_error_tetl_audit @etl_audit_sk,@error_message;
		THROW 99001,'Error occured: see tetl_audit table for more info', 1;
	END CATCH
END
GO
