/****** Object:  StoredProcedure [edw_stage].[UpdateLastExecutionColumnValue_1i1]    Script Date: 8/16/2023 12:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object: StoredProcedure [edw_stage].[UpdateWatermarkColumnValue_1i1] ******/
CREATE OR ALTER PROCEDURE [edw_stage].[UpdateLastExecutionColumnValue_1i1]
    @LastExecutionDateValue nvarchar(max),
    @LastExecutionStartValue nvarchar(max),
    @LastExecutionEndValue nvarchar(max),
    @Id [int]
AS
BEGIN
    DECLARE @DurationHours int, @DurationMinutes int, @DurationSeconds int;

    SET @DurationSeconds = DATEDIFF(SECOND, @LastExecutionStartValue, @LastExecutionEndValue);
    SET @DurationMinutes = @DurationSeconds / 60;
    SET @DurationHours = @DurationMinutes / 60;
    SET @DurationMinutes = @DurationMinutes % 60;
    SET @DurationSeconds = @DurationSeconds % 60;

    UPDATE [edw_stage].[ControlLoadTable]
    SET [LastExecution] = JSON_MODIFY(
        JSON_MODIFY([LastExecution], '$.LastExecutionDate', @LastExecutionDateValue),
        '$.LastExecutionTime',
        CONCAT(
            RIGHT(CONCAT('0', @DurationHours), 2),
            ':',
            RIGHT(CONCAT('0', @DurationMinutes), 2),
            ':',
            RIGHT(CONCAT('0', @DurationSeconds), 2)
        )
    )
    WHERE Id = @Id;
END;
GO
