SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/****** Object: StoredProcedure [edw_stage].[UpdateWatermarkColumnValue_1i1] ******/
CREATE OR ALTER PROCEDURE [edw_stage].[UpdateWatermarkColumnValue_1i1]
    @watermarkColumnStartValue nvarchar(max),
    @Id [int]
AS
BEGIN
    -- Check if @watermarkColumnStartValue is not null and not empty
    IF @watermarkColumnStartValue IS NOT NULL AND LTRIM(RTRIM(@watermarkColumnStartValue)) <> ''
    BEGIN
        UPDATE [edw_stage].[ControlLoadTable]
        SET [DataLoadingBehaviorSettings] = JSON_MODIFY([DataLoadingBehaviorSettings], '$.watermarkColumnStartValue', @watermarkColumnStartValue)
        WHERE Id = @Id
    END
END
GO